<div class="cart-page">
    <div class="container">
        <h1>Корзина</h1>
        <div class="cart-page-top">
            <p class="cart-count">Товаров: 2</p>
            <div class="clean-cart-line">
                <img src="../../build/img/delete.svg" alt="">
                <p>очистить корзину</p>
            </div>
        </div>
        <div class="cart-main-block-wrp">
            <div class="cart-main-block cartMainBlock">
                <div class="cart-main-left">
                    <img class="clean-cart-btn" src="../../build/img/delete.svg" alt="">
                    <div class="cart-main-img">
                        <img src="../../build/img/meet1.png" alt="">
                    </div>
                    <p class="cart-main-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                </div>
                <div>
                    <div class="cart-price-block cartBlock">
                        <div class="cart-line-price">
                            <p class="cart-price-word">За штуку:</p>
                            <p class="cart-price-cifra cart-price-item"><span>300.15</span> ₽</p>
                        </div>
                        <div class="quantity quantity-cart">
                            <div class="quantity-btn minus cartMinus"><span>-</span></div>
                            <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                            <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                        </div>
                        <div class="cart-line-total">
                            <p class="cart-price-word">Итого:</p>
                            <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                        </div>
                    </div>
                    <div class="cart-price-block cartBlock">
                        <div class="cart-line-price">
                            <p class="cart-price-word">За коробку:</p>
                            <p class="cart-price-cifra cart-price-item"><span>3000.00</span> ₽</p>
                        </div>
                        <div class="quantity quantity-cart">
                            <div class="quantity-btn minus cartMinus"><span>-</span></div>
                            <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                            <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                        </div>
                        <div class="cart-line-total">
                            <p class="cart-price-word">Итого:</p>
                            <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                        </div>
                    </div>
                </div>
                <div class="cart-main-line-end">
                    <p class="cart-price-word">Всего:</p>
                    <p class="total-summa-style total-summa"><span>4500</span> ₽</p>
                </div>
            </div>
            <div class="cart-main-block cartMainBlock">
                <div class="cart-main-left">
                    <img class="clean-cart-btn" src="../../build/img/delete.svg" alt="">
                    <div class="cart-main-img">
                        <img src="../../build/img/meet2.png" alt="">
                    </div>
                    <p class="cart-main-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                </div>
                <div>
                    <div class="cart-price-block cartBlock">
                        <div class="cart-line-price">
                            <p class="cart-price-word">За штуку:</p>
                            <p class="cart-price-cifra cart-price-item"><span>40.15</span> ₽</p>
                        </div>
                        <div class="quantity quantity-cart">
                            <div class="quantity-btn minus cartMinus"><span>-</span></div>
                            <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                            <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                        </div>
                        <div class="cart-line-total">
                            <p class="cart-price-word">Итого:</p>
                            <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                        </div>
                    </div>
                    <div class="cart-price-block cartBlock">
                        <div class="cart-line-price">
                            <p class="cart-price-word">За коробку:</p>
                            <p class="cart-price-cifra cart-price-item"><span>80.00</span> ₽</p>
                        </div>
                        <div class="quantity quantity-cart">
                            <div class="quantity-btn minus cartMinus"><span>-</span></div>
                            <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                            <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                        </div>
                        <div class="cart-line-total">
                            <p class="cart-price-word">Итого:</p>
                            <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                        </div>
                    </div>
                </div>
                <div class="cart-main-line-end">
                    <p class="cart-price-word">Всего:</p>
                    <p class="total-summa-style total-summa"><span>4500</span> ₽</p>
                </div>
            </div>
        </div>
        <div class="final-summa-wrp">
            <div class="final-summa-flex">
                <input type="text" name="" value="" class="final-summa-input" placeholder="Введите промокод">
                <div class="add-promo">Применить</div>
            </div>
            <div class="final-summa-flex">
                <div>
                    <p class="final-summa-text">Итоговая сумма:</p>
                    <p class="final-summa-cifra"><span>2 400</span> ₽</p>
                </div>
                <div class="final-btn">Оформить заказ</div>
            </div>
        </div>
    </div>
</div>
