<footer>
    <div class="footer-top">
        <div class="container">
            <a class="logo-img" href="/">
                <img src="../../build/img/logo.svg" alt="">
            </a>
            <ul class="header-list">
                <li class="active">
                    <a href="#">Главная</a>
                </li>
                <li>
                    <a href="#">Продукция</a>
                </li>
                <li>
                    <a href="#">О компании</a>
                </li>
                <li>
                    <a href="#">Карьера</a>
                </li>
                <li>
                    <a href="#">Команда</a>
                </li>
                <li>
                    <a href="#">Работа с нами</a>
                </li>
                <li>
                    <a href="#">Новости</a>
                </li>
                <li>
                    <a href="#">Партнерам</a>
                </li>
                <li>
                    <a href="#">Документы</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <ul class="footer-list-acc">
                <li>
                    <a href="#">
                        <img src="../../build/img/vk.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/fb.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/tic.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/youtube.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/insta.svg" alt="">
                    </a>
                </li>
            </ul>
            <div class="footer-top-right">
                <a href="tel:+7 (987) 123-45-67" class="footer-contact">
                    <img src="../../build/img/phone.svg" alt="">
                    <span>+7 (987) 123-45-67</span>
                </a>
                <a href="mailto:mail@navafish.com" class="footer-contact">
                    <img src="../../build/img/mail.svg" alt="">
                    <span>mail@navafish.com</span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>(с) Companyname. All rights reserved 2020-2021</p>
            <p>
                <a href="/policy">Правовая информация</a>
            </p>
        </div>
    </div>
</footer>
