.pop-up-overlay-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
    .overlay-pop-up {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(244, 245, 248, 0.8) 0%, #F4F5F8 100%);
        z-index: 6;
    }
    &.active {
        display: flex;
        opacity: 1;
    }
}
.pop-up-general-block {
    padding: 40px 48px 55px;
    position: relative;
    max-height: calc(100vh - 56px);
    max-width: 90%;
    width: 664px;
    z-index: 7;
    display: none;
    background: #F4F5F8;
    box-shadow: -13px 13px 26px rgba(234, 235, 238, 0.2), 13px -13px 26px rgba(234, 235, 238, 0.2), -13px -13px 26px rgba(254, 255, 255, 0.9), 13px 13px 33px rgba(234, 235, 238, 0.9), inset 1px 1px 2px rgba(254, 255, 255, 0.3), inset -1px -1px 2px rgba(234, 235, 238, 0.5);
    border-radius: 16px;
    overflow-y: auto;
    h2 {
        margin-bottom: 0;
        span {
            color: #91A9CD;
        }
    }
    &.active {
        display: block;
    }
    &.pop-up-general {
        h2 {
            margin-bottom: 32px;
        }
    }
    &.pop-up-general-block-cart {
        width: 809px;
        .cart-main-img {
            flex-shrink: 0;
            margin: 0 16px 0 0;
        }
        .cart-main-block {
            border: none;
            &:last-child {
                border: none;
            }
        }
        .cart-main-title {
            max-width: 180px;
        }
    }
    &.thnx {
        h2 {
            margin-bottom: 12px;
            & + div {
                font-size: 16px;
            }
        }
    }
}
.pop-up-cart-content {
    padding-top: 16px;
}
.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 58px;
    cursor: pointer;
    background: #F70F00;
    border-radius: 14px;
    transition: .2s;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        background: darken(#F70F00, 5%);
    }
}
.radio-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 36px;
}
.input-style {
    & + .input-style {
        margin-top: 24px;
    }
}
.input-form {
    width: 100%;
    height: 48px;
    background: #F4F5F8;
    border: 1px solid #C5D3EA;
    border-radius: 8px;
    line-height: normal;
    padding: 0 18px;
    &::placeholder {
        color: #95A6C2;
        font-size: 14px;
    }
}
.input-title {
    font-size: 16px;
    margin-bottom: 4px;
}
.check-form-wrp {
    margin-bottom: 36px;
    .checkbox {
        width: 100%;
    }
}
.pop-up-general-block-close-btn {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #F70F00;
        transform: rotate(-45deg);
        margin-top: -1px;
    }
    &::after {
        transform: rotate(45deg);
    }
}
.pop-up-filterPopUp-close-btn {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #3F5883;
        transform: rotate(-45deg);
        margin-top: -1px;
    }
    &::after {
        transform: rotate(45deg);
    }
}
.check-form-wrp {
    margin-top: 28px;
}
.pop-up-cart-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.back-cart-wrp {
    display: flex;
    align-items: center;
    img {
        margin-right: 7px;
        width: 24px;
        transform: rotate(180deg);
    }
    p {
        font-family: 'Gilroy', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #F70F00;
    }
}
.pop-up-cart-btn-wrp {
    display: flex;
    align-items: center;
    .white {
        width: 190px;
    }
    .red {
        width: 206px;
        margin-left: 16px;
    }
}
@media (max-width: 1199px) {
    .pop-up-general-block {
        .cart-main-left {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
        .cart-main-title {
            padding-left: 0;
        }
    }
}
@media (max-width: 991px) {
    .pop-up-general-block.pop-up-general-block-cart {
        .cart-main-title {
            max-width: inherit;
        }
        .cart-main-block .cart-price-block {
            padding-left: 0;
        }
        .cart-main-left {
            margin-bottom: 16px;
        }
        .cart-main-block .cart-price-block > div {
            flex: 1;
        }
    }
}
@media (max-width: 767px) {
    .pop-up-general-block {
        padding: 30px 25px 35px;
        .cart-line-total {
            width: 100px;
            min-width: auto;
        }
        .cart-main-block .quantity-cart {
            margin: 0 5px 0 10px;
        }
    }
    .pop-up-general-block-close-btn {
        top: 15px;
        right: 15px;
    }
    .radio-line {
        display: block;
        margin: 30px 0;
    }
    .radio-wrp {
        & + .radio-wrp {
            margin-top: 20px;
        }
    }
    .checkbox-text::before {
        top: 0px;
    }
    .checkbox-text::after {
        top: 8px;
    }
    .check-form-wrp {
        margin-top: 20px;
        margin-bottom: 26px;
    }
    .checkbox-text {
        font-size: 14px;
    }
    .pop-up-general-block.pop-up-general h2 {
        margin-bottom: 20px;
    }
    .pop-up-cart-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .pop-up-cart-btn-wrp {
        width: 100%;
        .white {
            width: calc(50% - 8px);
        }
        .red {
            margin-top: 0;
            width: calc(50% - 8px);
        }
    }
    .back-cart-wrp {
        margin-top: 16px;
    }
}
@media (max-width: 490px) {
    .pop-up-cart-bottom {
        margin-top: 10px;
    }
    .pop-up-cart-btn-wrp {
        display: block;
        .white {
            width: 100%;
        }
        .red {
            margin-top: 16px;
            margin-left: 0;
            width: 100%;
        }
    }
}
@media (max-width: 413px) {
    .pop-up-general-block {
        .cart-main-block .cart-price-block {
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
        .cart-main-block .cart-price-block > div {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            &.quantity.quantity-cart {
                justify-content: space-between;
            }
        }
        .cart-line-price {
            width: 100%;
        }
        .cart-line-total {
            width: 100%;
        }
        .cart-price-cifra {
            margin-top: 0;
            margin-left: 8px;
        }
        .cart-main-block .quantity-cart {
            margin: 10px 0;
        }
        .cart-main-block {
            padding-top: 10px;
            .cart-price-block + .cart-price-block {
                margin-top: 20px;
            }
        }
    }
}
