<div class="discountsIM-page">
    <div class="container">
        <h1>Акции</h1>
        <div class="discount-block">
            <div>
                <div>
                    <p class="sale">SALE</p>
                    <p class="discount-title">Рыбная среда <span>скидка -15%</span> </p>
                    <p>на весь ассортимент рыбной консервации и замороженной рыбы</p>
                </div>
                <p class="data-discount">до 21 мая 2021</p>
            </div>
            <img src="../../build/img/discount1.png" alt="">
        </div>
        <div class="discount-block">
            <div>
                <div>
                    <p class="sale">HOT</p>
                    <p class="discount-title">Рыбка за рыбку</p>
                    <p>на весь ассортимент рыбной консервации и замороженной рыбы</p>
                </div>
                <p class="data-discount">до 21 мая 2021</p>
            </div>
            <img src="../../build/img/discount2.png" alt="">
        </div>
    </div>
</div>
