<div class="about-page pt127">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg">
                <img src="../../build/img/about1.svg" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>О компании</h1>
                <p>Самый надежный поставщик <br>и самые выгодные цены на рынке</p>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">О компании</a></li>
            </ul>
        </div>
    </div>
    <section class="section-vstup">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-12">
                    <div class="vstup-vidos-wrp">
                        <img src="../../build/img/vstup.png" alt="">
                        <a href="https://youtu.be/7dByr20I9NI" data-fancybox class="vstup-btn">
                            <div></div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-7 col-md-6 col-12">
                    <div class="vstup-text-wrp">
                        <h2>О компании</h2>
                        <div class="vstup-text">
                            <p>Для производства своей продукции мы выбираем лучшее сырье, выезжая с инспекцией в места промысла. Только лучшая красная икра, рыба и морепродукты могут попасть на производственный комплекс НАВАФИШ (NAVAFISH).</p>
                            <p>В нашем интернет-магазине представлен широкий ассортимент икры, свежей рыбы и морепродуктов, которые сложно найти в обычном магазине, а так же все необходимые повседневные продукттроль качества готовой продукции. Вот почему наша продукция заслужила такое доверие и любовь у покупателей.</p>
                            <p>Уникальное производство НАВАФИШ (NAVAFISH) позволяет бережно относиться к рыбе на этапах производства, упаковки и маркировки, хранения и транспортировки. В нашем интернет-магазине представлен широкий ассортимент икры, свежей рыбы и морепродуктов, которые сложно найти в обычном магазине, а так же все необходимые повседневные продукт</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ab-partner-section">
        <div class="container">
            <h2>Наши партнеры</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part1.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part2.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part3.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part4.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part5.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part6.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-6">
                    <div class="ab-partner-plashka">
                        <div class="ab-partner">
                            <img src="../../build/img/part7.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reliable-section">
        <div class="container">
            <div class="h2-btn-wrp">
                <h2>Мы — надежные партнеры</h2>
                <div class="reliable-btn reliable-btn-desc">стать нашим партнером</div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="reliable-block">
                        <div class="reliable-img">
                            <img src="../../build/img/reliable1.svg" alt="">
                        </div>
                        <div class="reliable-info">
                            <p class="reliable-title">Гарантия качества</p>
                            <div class="reliable-text">
                                <p>Реплицированные с зарубежных источников, современные исследования объединены в целые кластеры себе подобных. Как.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="reliable-block">
                        <div class="reliable-img">
                            <img src="../../build/img/reliable2.svg" alt="">
                        </div>
                        <div class="reliable-info">
                            <p class="reliable-title">Система контроля</p>
                            <div class="reliable-text">
                                <p>Повседневная практика показывает, что существующая теория способствует повышению качества экспериментов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="reliable-block">
                        <div class="reliable-img">
                            <img src="../../build/img/reliable3.svg" alt="">
                        </div>
                        <div class="reliable-info">
                            <p class="reliable-title">Долгосрочное сотрудничество</p>
                            <div class="reliable-text">
                                <p>Как принято считать, непосредственные участники технического прогресса набирают популярность среди.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="reliable-block">
                        <div class="reliable-img">
                            <img src="../../build/img/reliable4.svg" alt="">
                        </div>
                        <div class="reliable-info">
                            <p class="reliable-title">N лет на рынке</p>
                            <div class="reliable-text">
                                <p>Как уже неоднократно упомянуто, представители современных социальных резервов лишь добавляют фракционных.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reliable-btn reliable-btn-mob">стать нашим партнером</div>
        </div>
    </section>
    <div class="container">
        <div class="standart-section">
            <img src="../../build/img/standart.png" alt="">
            <div class="standart-plashka">
                <h2>Блок о качестве вылавливаемой рыбы <span>и&nbsp;стандартах</span></h2>
                <div class="row">
                    <div class="col-xl-6 col-12">
                        <p>Для производства своей продукции мы выбираем лучшее сырье, выезжая с инспекцией в места промысла. Только лучшая красная икра, рыба и морепродукты могут попасть на производственный комплекс НАВАФИШ (NAVAFISH). </p>
                    </div>
                    <div class="col-xl-6 col-12">
                        <p>Мы тщательно контролируем этапы производства, используем современное оборудование и многоступенчатый контроль качества готовой продукции. Вот почему наша продукция заслужила так</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gramota -->
    <section class="gramota-section">
        <div class="container">
            <div class="h2-wrp h2-slider">
                <h2>Наши сертификаты</h2>
                <div class="slider-arrows">
                    <div class="slider-arrow prev-gramota-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="slider-arrow next-gramota-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="slider-gramota-wrp">
                <div class="slider-gramota">
                    <div>
                        <a href="../../build/img/gram1.jpg" class="slide-gramota fancy-link">
                            <img src="../../build/img/gram1.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="../../build/img/gram2.jpg" class="slide-gramota fancy-link">
                            <img src="../../build/img/gram2.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="../../build/img/gram1.jpg" class="slide-gramota fancy-link">
                            <img src="../../build/img/gram1.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="../../build/img/gram2.jpg" class="slide-gramota fancy-link">
                            <img src="../../build/img/gram2.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="../../build/img/gram1.jpg" class="slide-gramota fancy-link">
                            <img src="../../build/img/gram1.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="../../build/img/gram2.jpg" class="slide-gramota fancy-link">
                            <img src="../../build/img/gram2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="vehi-section">
        <div class="container">
            <h2>Вехи развития компании</h2>
            <div class="slider-vehi-wrp">
                <div class="slider-vehi">
                    <div data-title="1997">
                        <div class="slide-vehi">
                            <div class="slide-vehi-inner">
                                <div class="slide-vehi-content">
                                    <p class="slide-vehi-title">Основание компании</p>
                                    <div class="slide-vehi-text">
                                        <p>ООО «ООО» начала свою деятельность в октябре 1997 года. Хотя на российском рынке существовало множество перерабатывающих предприятий и мелких импортеров, рыбные прилавки пустовали, и основатели компании увидели потребность в системном обеспечении населения России качественной рыбопродукцией. РРК вышла на рынок как импортер из Норвегии самых востребованных в то время видов рыбы – свежемороженой сельди и скумбрии</p>
                                    </div>
                                </div>
                                <p class="slide-vehi-year">1997</p>
                            </div>
                        </div>
                    </div>
                    <div data-title="2002">
                        <div class="slide-vehi">
                            <div class="slide-vehi-inner">
                                <div class="slide-vehi-content">
                                    <p class="slide-vehi-title">Основание компании</p>
                                    <div class="slide-vehi-text">
                                        <p>ООО «ООО» начала свою деятельность в октябре 1997 года. Хотя на российском рынке существовало множество перерабатывающих предприятий и мелких импортеров, рыбные прилавки пустовали, и основатели компании увидели потребность в системном обеспечении населения России качественной рыбопродукцией. РРК вышла на рынок как импортер из Норвегии самых востребованных в то время видов рыбы – свежемороженой сельди и скумбрии</p>
                                    </div>
                                </div>
                                <p class="slide-vehi-year">2002</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dots-vehi-wrp">
                <div class="slider-vehi-arrow prev-vehi-arrow slick-arrow" style="">
                   <img src="../../build/img/prev.svg" alt="">
               </div>
               <div class="slider-vehi-arrow next-vehi-arrow slick-arrow" style="">
                   <img src="../../build/img/next.svg" alt="">
               </div>
            </div>
        </div>
    </section> -->
</div>
