<div class="menu">
    <div class="burger">
        <span></span>
    </div>
    <div class="menu-content">
        <div class="menu-top">
            <a href="#" class="header-map-link">
                <img src="../../build/img/map-icon.svg" alt="">
                <span>Москва</span>
            </a>
            <ul class="lang-list">
                <li class="active"><span>Ru</span></li>
                <li><span>En</span></li>
            </ul>
        </div>
        <div class="menu-bottom">
            <ul class="menu-list">
                <li class="active">
                    <a href="#">Главная</a>
                </li>
                <li>
                    <a href="#">Продукция</a>
                </li>
                <li>
                    <a href="#">О компании</a>
                </li>
                <li>
                    <a href="#">Карьера</a>
                </li>
                <li>
                    <a href="#">Команда</a>
                </li>
                <li>
                    <a href="#">Работа с нами</a>
                </li>
                <li>
                    <a href="#">Новости</a>
                </li>
                <li>
                    <a href="#">Партнерам</a>
                </li>
                <li>
                    <a href="#">Документы</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
            <div class="menu-shop-link-wrp">
                <a href="#" class="menu-shop-link">
                    <img src="../../build/img/acc.svg" alt="">
                    <span>Личный кабинет</span>
                </a>
                <a href="#" class="menu-shop-link">
                    <img src="../../build/img/shop.svg" alt="">
                    <span>Розничный магазин</span>
                </a>
                <a href="tel:+7 (987) 123-45-67" class="menu-shop-link">
                    <img src="../../build/img/phone.svg" alt="">
                    <span>+7 (987) 123-45-67</span>
                </a>
                <p class="menu-recall">Обратный звонок</p>
            </div>
        </div>
    </div>
</div>
