<div class="menu">
    <div class="burger">
        <span></span>
    </div>
    <div class="menu-content">
        <div>
            <div class="menu-top">
                <a href="#" class="header-map-link">
                    <img src="../../build/img/map-icon.svg" alt="">
                    <span>Москва</span>
                </a>
                <ul class="lang-list">
                    <li class="active"><span>Ru</span></li>
                    <li><span>En</span></li>
                </ul>
            </div>
            <div class="header-input-wrp">
                <input type="text" name="" value="" placeholder="Начните вводить название">
                <img src="../../build/img/search.svg" alt="">
            </div>
        </div>
        <div class="menu-bottom">
            <ul class="menu-list">
                <li class="active">
                    <a href="#">Продукция</a>
                </li>
                <li>
                    <a href="#">Акции</a>
                </li>
                <li>
                    <a href="#">Доставка и оплата</a>
                </li>
                <li>
                    <a href="#">Оптовым клиентам</a>
                </li>
            </ul>
            <div class="menu-shop-link-wrp">
                <a href="#" class="header-shop-link header-shop-link-im">
                    <img src="../../build/img/acc.svg" alt="">
                    <span>Личный кабинет</span>
                </a>
                <div class="header-delivery">
                    <p>Ближайшая доставка на:</p>
                    <p>08.02.2021 18:00</p>
                </div>
                <a href="tel:+7 (987) 123-45-67" class="menu-shop-link">
                    <img src="../../build/img/phone.svg" alt="">
                    <span>+7 (987) 123-45-67</span>
                </a>
                <p class="menu-recall">Обратный звонок</p>
            </div>
        </div>
    </div>
</div>
