<div class="foodServ-page">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg">
                <img src="../../build/img/food.png" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>Отели, рестораны и кафе</h1>
                <p>Получите лучшие предложения для кейтеринга. Мы доставляем рыбу отменного качества минимальными партиями и поддерживаем необходимый остаток ключевого ассортимента на складе</p>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">Отели, рестораны и кафе</a></li>
            </ul>
        </div>
    </div>
    <section class="min-order pt80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="min-order-block">
                        <div class="min-order-block-img">
                            <img src="../../build/img/rapan1.png" alt="">
                        </div>
                        <div class="min-order-block-info">
                            <p class="min-order-title">Минимальный заказ <span>1000 рублей</span></p>
                            <div class="min-order-block-text">
                                <p>Задача организации, в особенности же экономическая повестка сегодняшнего дня способствует повышению.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="min-order-block">
                        <div class="min-order-block-img">
                            <img src="../../build/img/rapan2.png" alt="">
                        </div>
                        <div class="min-order-block-info">
                            <p class="min-order-title">Бесплатная <br><span>доставка</span></p>
                            <div class="min-order-block-text">
                                <p>А также некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть призваны</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-advise pt80">
        <div class="container">
            <ul class="partner-tab">
                <li data-advise="advise1" class="active">Советы поварам</li>
                <li data-advise="advise2">Знакомство с&nbsp;продукцией</li>
                <li data-advise="advise3">Как стать нашим партнером</li>
            </ul>
            <div id="advise1" class="advise-body active">
                <h2>Советы поварам</h2>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise1.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">С другой стороны, внедрение.</p>
                        <div class="advise-block-text">
                            <p>Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий обеспечивает широкому кругу (специалистов) участие в формировании переосмысления внешнеэкономических политик. Ясность нашей позиции очевидна: понимание сути ресурсосберегающих технологий обеспечивает актуальность системы массового участия. Лишь базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом.</p>
                        </div>
                    </div>
                </div>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise2.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">Безусловно, высокотехнологичная.</p>
                        <div class="advise-block-text">
                            <p>Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции в значительной степени обусловливает важность переосмысления внешнеэкономических политик. Повседневная практика показывает, что граница обучения кадров требует анализа форм воздействия. Банальные, но неопровержимые выводы, а также явные признаки победы.</p>
                        </div>
                    </div>
                </div>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise3.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">Приятно, граждане, наблюдать, как.</p>
                        <div class="advise-block-text">
                            <p>Значимость этих проблем настолько очевидна, что высокое качество позиционных исследований обеспечивает широкому кругу (специалистов) участие в формировании благоприятных перспектив! Имеется спорная точка зрения, гласящая примерно следующее: элементы политического процесса лишь добавляют фракционных разногласий и описаны максимально подробно. В частности, разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для системы массового участия.</p>
                            <p>Как уже неоднократно упомянуто, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут ассоциативно распределены по отраслям. А ещё акционеры крупнейших компаний будут объективно рассмотрены соответствующими инстанциями. С другой стороны, граница обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Но акционеры крупнейших компаний, вне зависимости от их уровня, должны быть ограничены исключительно образом мышления.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise2" class="advise-body">
                <h2>Знакомство с&nbsp;продукцией</h2>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise1.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">2 С другой стороны, внедрение.</p>
                        <div class="advise-block-text">
                            <p>Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий обеспечивает широкому кругу (специалистов) участие в формировании переосмысления внешнеэкономических политик. Ясность нашей позиции очевидна: понимание сути ресурсосберегающих технологий обеспечивает актуальность системы массового участия. Лишь базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом.</p>
                        </div>
                    </div>
                </div>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise2.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title"> 2 Безусловно, высокотехнологичная.</p>
                        <div class="advise-block-text">
                            <p>Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции в значительной степени обусловливает важность переосмысления внешнеэкономических политик. Повседневная практика показывает, что граница обучения кадров требует анализа форм воздействия. Банальные, но неопровержимые выводы, а также явные признаки победы.</p>
                        </div>
                    </div>
                </div>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise3.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">2 Приятно, граждане, наблюдать, как.</p>
                        <div class="advise-block-text">
                            <p>Значимость этих проблем настолько очевидна, что высокое качество позиционных исследований обеспечивает широкому кругу (специалистов) участие в формировании благоприятных перспектив! Имеется спорная точка зрения, гласящая примерно следующее: элементы политического процесса лишь добавляют фракционных разногласий и описаны максимально подробно. В частности, разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для системы массового участия.</p>
                            <p>Как уже неоднократно упомянуто, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут ассоциативно распределены по отраслям. А ещё акционеры крупнейших компаний будут объективно рассмотрены соответствующими инстанциями. С другой стороны, граница обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Но акционеры крупнейших компаний, вне зависимости от их уровня, должны быть ограничены исключительно образом мышления.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise3" class="advise-body">
                <h2>Как стать нашим партнером</h2>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise1.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">3 С другой стороны, внедрение.</p>
                        <div class="advise-block-text">
                            <p>Каждый из нас понимает очевидную вещь: семантический разбор внешних противодействий обеспечивает широкому кругу (специалистов) участие в формировании переосмысления внешнеэкономических политик. Ясность нашей позиции очевидна: понимание сути ресурсосберегающих технологий обеспечивает актуальность системы массового участия. Лишь базовые сценарии поведения пользователей освещают чрезвычайно интересные особенности картины в целом.</p>
                        </div>
                    </div>
                </div>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise2.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">3 Безусловно, высокотехнологичная.</p>
                        <div class="advise-block-text">
                            <p>Мы вынуждены отталкиваться от того, что начало повседневной работы по формированию позиции в значительной степени обусловливает важность переосмысления внешнеэкономических политик. Повседневная практика показывает, что граница обучения кадров требует анализа форм воздействия. Банальные, но неопровержимые выводы, а также явные признаки победы.</p>
                        </div>
                    </div>
                </div>
                <div class="advise-block">
                    <div class="advise-block-img-wrp">
                        <div class="advise-block-img">
                            <img src="../../build/img/advise3.png" alt="">
                        </div>
                    </div>
                    <div class="advise-block-info">
                        <p class="advise-block-title">3 Приятно, граждане, наблюдать, как.</p>
                        <div class="advise-block-text">
                            <p>Значимость этих проблем настолько очевидна, что высокое качество позиционных исследований обеспечивает широкому кругу (специалистов) участие в формировании благоприятных перспектив! Имеется спорная точка зрения, гласящая примерно следующее: элементы политического процесса лишь добавляют фракционных разногласий и описаны максимально подробно. В частности, разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для системы массового участия.</p>
                            <p>Как уже неоднократно упомянуто, диаграммы связей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут ассоциативно распределены по отраслям. А ещё акционеры крупнейших компаний будут объективно рассмотрены соответствующими инстанциями. С другой стороны, граница обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Но акционеры крупнейших компаний, вне зависимости от их уровня, должны быть ограничены исключительно образом мышления.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-meeting pt80">
        <div class="container">
            <div class="h2-wrp">
                <h2>Знакомство с нашей продукцией</h2>
                <div class="slider-arrows">
                    <div class="slider-arrow prev-meet-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="slider-arrow next-meet-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="meet-slider-wrp">
                <div class="meet-slider">
                    <div class="meet-slide-wrp">
                        <div class="meet-slide meet-slide-first">
                            <img src="../../build/img/fish.svg" alt="">
                            <h3>Большой ассортимент рыбы <span>и&nbsp;сопутствующих товаров</span></h3>
                            <a href="#" class="link-arrow">
                                <span>Смотреть все</span>
                                <img src="../../build/img/arrow-right-short.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="meet-slide-wrp">
                        <a href="#" class="meet-slide meet-slide-other">
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet1.png" alt="">
                                <span class="meet-tag">Сельдь</span>
                            </span>
                            <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                        </a>
                    </div>
                    <div class="meet-slide-wrp">
                        <a href="#" class="meet-slide meet-slide-other">
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet2.png" alt="">
                                <span class="meet-tag">Минтай</span>
                            </span>
                            <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                        </a>
                    </div>
                    <div class="meet-slide-wrp">
                        <a href="#" class="meet-slide meet-slide-other">
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet1.png" alt="">
                                <span class="meet-tag">Сельдь</span>
                            </span>
                            <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-be-partner pt80">
        <div class="container">
            <div class="be-partner-block">
                <img src="../../build/img/be-part.png" alt="">
                <div class="be-partner-content">
                    <p class="be-part-title">Станьте нашим партнером</p>
                    <div class="be-part-text">
                        <p>Значимость этих проблем настолько очевидна, что высокотехнологичная концепция общественного уклада предполагает независимые способы реализации системы массового участия. В частности, разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает широкому кругу (специалистов) участие в формировании переосмысления внешнеэкономических политик. Идейные соображения высшего порядка, а также понимание сути ресурсосберегающих технологий влечет за собой процесс внедрения и модернизации приоритизации.</p>
                    </div>
                    <div class="be-part-btn-wrp">
                        <a href="https://msng.link/o/?79871234567=wa" class="be-part-btn be-part-btn-write">
                            <img src="../../build/img/whatsapp.svg" alt="">
                            <span>Написать нам</span>
                        </a>
                        <div class="be-part-btn be-part-btn-order">
                            <span>Заполнить заявку</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
