<div class="foodServ-page">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg">
                <img src="../../build/img/food.png" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>Отели, рестораны и кафе</h1>
                <p>Получите лучшие предложения для кейтеринга. Мы доставляем рыбу отменного качества минимальными партиями и поддерживаем необходимый остаток ключевого ассортимента на складе</p>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">Отели, рестораны и кафе</a></li>
            </ul>
        </div>
    </div>
    <section class="min-order pt80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="min-order-block">
                        <div class="min-order-block-img">
                            <img src="../../build/img/rapan1.png" alt="">
                        </div>
                        <div class="min-order-block-info">
                            <p class="min-order-title">Минимальный заказ <span>1000 рублей</span></p>
                            <div class="min-order-block-text">
                                <p>Задача организации, в особенности же экономическая повестка сегодняшнего дня способствует повышению.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="min-order-block">
                        <div class="min-order-block-img">
                            <img src="../../build/img/rapan2.png" alt="">
                        </div>
                        <div class="min-order-block-info">
                            <p class="min-order-title">Бесплатная <br><span>доставка</span></p>
                            <div class="min-order-block-text">
                                <p>А также некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть призваны</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-advise pt80">
        <div class="container">
            <h2>Советы поварам</h2>
        </div>
    </section>
</div>
