<main>
    <section class="section-main">
        <div class="container">
            <div class="section-main-content">
                <h1>Оптовые поставки рыбы и&nbsp;морепродуктов <span>от&nbsp;лидеров рынка</span></h1>
                <div class="main-btn"><span>Узнать больше</span></div>
            </div>
        </div>
    </section>
    <section class="section-choose pt80">
        <div class="container">
            <h2>Выберите близкую вам категорию</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="choose-block">
                        <div>
                            <p class="choose-title">Отели рестораны и&nbsp;кафе</p>
                            <div class="choose-text">
                                <p>Лишь некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть функционально.</p>
                            </div>
                        </div>
                        <a href="#" class="link-arrow">
                            <span>Читать подробнее</span>
                            <img src="../../build/img/arrow-right-short.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="choose-block">
                        <div>
                            <p class="choose-title">Магазины, розничные сети и рынки</p>
                            <div class="choose-text">
                                <p>Лишь некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть функционально.</p>
                            </div>
                        </div>
                        <a href="#" class="link-arrow">
                            <span>В магазин</span>
                            <img src="../../build/img/arrow-right-short.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="choose-block">
                        <div>
                            <p class="choose-title">Переработчики рыбопродукции</p>
                            <div class="choose-text">
                                <p>Лишь некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть функционально.</p>
                            </div>
                        </div>
                        <a href="#" class="link-arrow">
                            <span>Оставить заявку</span>
                            <img src="../../build/img/arrow-right-short.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="choose-block">
                        <div>
                            <p class="choose-title">Оптовые покупатели рыбопродукции</p>
                            <div class="choose-text">
                                <p>Лишь некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть функционально.</p>
                            </div>
                        </div>
                        <a href="#" class="link-arrow">
                            <span>Оставить заявку</span>
                            <img src="../../build/img/arrow-right-short.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-slider pt80">
        <div class="container">
            <div class="h2-wrp">
                <h2>Последние новости</h2>
                <div class="slider-arrows">
                    <div class="slider-arrow prev-news-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="slider-arrow next-news-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="news-slider-wrp">
                <div class="news-slider">
                    <div class="news-slide-wrp">
                        <div class="news-slide news-slide-first">
                            <img src="../../build/img/news1.svg" alt="">
                            <h3>Самые актуальные новости и статьи</h3>
                            <a href="#" class="link-arrow">
                                <span>Смотреть все</span>
                                <img src="../../build/img/arrow-right-short.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="news-slide-wrp">
                        <a href="#" class="news-slide news-slide-other">
                            <img src="../../build/img/slide1.png" alt="">
                            <div class="news-slide-other-content">
                                <div class="icon-new">
                                    <img src="../../build/img/news2.svg" alt="">
                                    <span>Новость</span>
                                </div>
                                <p class="news-data">27 января 2021</p>
                                <p class="news-title">Безусловно, глубокий уровень погружения</p>
                                <div class="news-slide-text">
                                    <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="news-slide-wrp">
                        <a href="#" class="news-slide news-slide-other">
                            <img src="../../build/img/slide2.png" alt="">
                            <div class="news-slide-other-content">
                                <div class="icon-new">
                                    <img src="../../build/img/news2.svg" alt="">
                                    <span>Статья</span>
                                </div>
                                <p class="news-data">23 февраля 2020</p>
                                <p class="news-title">Каждый из нас понимает очевидную вещь:.</p>
                                <div class="news-slide-text">
                                    <p>Для современного мира внедрение современных методик однозначно фиксирует необходимость укрепления моральных.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="news-slide-wrp">
                        <a href="#" class="news-slide news-slide-other">
                            <img src="../../build/img/slide3.png" alt="">
                            <div class="news-slide-other-content">
                                <div class="icon-new">
                                    <img src="../../build/img/news2.svg" alt="">
                                    <span>Статья</span>
                                </div>
                                <p class="news-data">3 марта 2021</p>
                                <p class="news-title">Прежде всего, высокое качество.</p>
                                <div class="news-slide-text">
                                    <p>Таким образом, курс на социально-ориентированный национальный проект представляет собой интересный эксперимент.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="news-slide-wrp">
                        <a href="#" class="news-slide news-slide-other">
                            <img src="../../build/img/slide1.png" alt="">
                            <div class="news-slide-other-content">
                                <div class="icon-new">
                                    <img src="../../build/img/news2.svg" alt="">
                                    <span>Новость</span>
                                </div>
                                <p class="news-data">27 января 2021</p>
                                <p class="news-title">Безусловно, глубокий уровень погружения</p>
                                <div class="news-slide-text">
                                    <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-know pt80">
        <div class="container">
            <h2>Хотите узнать больше?</h2>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <a href="#" class="know-block">
                        <p>Команда</p>
                        <span class="know-bg">
                            <img src="../../build/img/know1.png" alt="">
                        </span>
                        <img class="know-link" src="../../build/img/short.svg" alt="">
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <a href="#" class="know-block">
                        <p>О компании</p>
                        <span class="know-bg">
                            <img src="../../build/img/know2.png" alt="">
                        </span>
                        <img class="know-link" src="../../build/img/short.svg" alt="">
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <a href="#" class="know-block">
                        <p>Карьера</p>
                        <span class="know-bg">
                            <img src="../../build/img/know3.png" alt="">
                        </span>
                        <img class="know-link" src="../../build/img/short.svg" alt="">
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <a href="#" class="know-block">
                        <p>Контакты</p>
                        <span class="know-bg">
                            <img src="../../build/img/know4.png" alt="">
                        </span>
                        <img class="know-link" src="../../build/img/short.svg" alt="">
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <a href="#" class="know-block">
                        <p>Документы</p>
                        <span class="know-bg">
                            <img src="../../build/img/know5.png" alt="">
                        </span>
                        <img class="know-link" src="../../build/img/short.svg" alt="">
                    </a>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <a href="#" class="know-block">
                        <p>Партнерам</p>
                        <span class="know-bg">
                            <img src="../../build/img/know6.png" alt="">
                        </span>
                        <img class="know-link" src="../../build/img/short.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
