<div class="deliveryIM-page">
    <div class="container">
        <h1>Доставка</h1>
        <p>Выберите ближайший к Вам город</p>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-8 col-12">
                <div id="cityList" class="form-select">
                    <div class="custom-select-wrapper">
                        <label for="manager"></label>
                        <select id="manager" class="select-chose">
                            <option value="Москва" selected>Москва</option>
                            <option value="Питер">Питер</option>
                            <option value="Чугуев">Чугуев</option>
                            <option value="Лондон">Лондон</option>
                        </select>
                        <div class="custom-select-head"><span>Москва</span></div>
                        <div class="custom-select-list-wrapper">
                            <ul class="custom-select-list">
                                <li data-value="Москва" class="selected">Москва</li>
                                <li data-value="Питер">Питер</li>
                                <li data-value="Чугуев">Чугуев</li>
                                <li data-value="Лондон">Лондон</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="plashka-city-content active">
            <table>
              <thead>
                <tr>
                  <th>Способ доставки</th>
                  <th>Стоимость</th>
                  <th>Срок</th>
                  <th>Время доставки</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Курьером</td>
                  <td><p>300 р при заказе до 5000 р</p> <p>бесплатно при заказе от 5000 р</p></td>
                  <td>1-2 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>Почта России</td>
                  <td>По тарифам перевозчика</td>
                  <td>3-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>СДЭК</td>
                  <td>По тарифам перевозчика</td>
                  <td>1-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="plashka-city-content">
            <table>
              <thead>
                <tr>
                  <th>2 Способ доставки</th>
                  <th>2 Стоимость</th>
                  <th>2 Срок</th>
                  <th>2 Время доставки</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Курьером</td>
                  <td><p>300 р при заказе до 5000 р</p> <p>бесплатно при заказе от 5000 р</p></td>
                  <td>1-2 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>Почта России</td>
                  <td>По тарифам перевозчика</td>
                  <td>3-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>СДЭК</td>
                  <td>По тарифам перевозчика</td>
                  <td>1-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="plashka-city-content">
            <table>
              <thead>
                <tr>
                  <th>3 Способ доставки</th>
                  <th>3 Стоимость</th>
                  <th>3 Срок</th>
                  <th>3 Время доставки</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Курьером</td>
                  <td><p>300 р при заказе до 5000 р</p> <p>бесплатно при заказе от 5000 р</p></td>
                  <td>1-2 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>Почта России</td>
                  <td>По тарифам перевозчика</td>
                  <td>3-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>СДЭК</td>
                  <td>По тарифам перевозчика</td>
                  <td>1-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="plashka-city-content">
            <table>
              <thead>
                <tr>
                  <th>4 Способ доставки</th>
                  <th>4 Стоимость</th>
                  <th>4 Срок</th>
                  <th>4 Время доставки</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Курьером</td>
                  <td><p>300 р при заказе до 5000 р</p> <p>бесплатно при заказе от 5000 р</p></td>
                  <td>1-2 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>Почта России</td>
                  <td>По тарифам перевозчика</td>
                  <td>3-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
                <tr>
                  <td>СДЭК</td>
                  <td>По тарифам перевозчика</td>
                  <td>1-4 дня</td>
                  <td>Ежедневно с 10:00 до 22:00</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
