<div class="checkoutIM-page">
    <div class="container">
        <div class="h1-click">
            <h1>Оформление заказа</h1>
            <p class="click-checkout-btn">купить в 1 клик</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <form action="">
                    <div class="input-style">
                        <p class="input-title">Ваше имя</p>
                        <input class="input-form input-valid" type="text" data-input="name" name="name">
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                    <div class="row row-input">
                        <div class="col-md-6 col-12">
                            <div class="input-style">
                                <p class="input-title">E-mail</p>
                                <input class="input-form input-valid" type="email" data-input="email" name="mail">
                                <p class="input-error">Ошибка ввода</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="input-style">
                                <p class="input-title">Номер телефона</p>
                                <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
                                <p class="input-error">Ошибка ввода</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-select-wrp form-work-input">
                        <p class="input-title">1. Выберите склад отправки</p>
                        <div class="form-select">
                            <div class="custom-select-wrapper">
                                <label for="stock"></label>
                                <select id="stock">
                                    <option value="Москва" selected>Москва</option>
                                    <option value="Питер">Питер</option>
                                    <option value="Чугуев">Чугуев</option>
                                    <option value="Лондон">Лондон</option>
                                </select>
                                <div class="custom-select-head"><span>Москва</span></div>
                                <div class="custom-select-list-wrapper">
                                    <ul class="custom-select-list">
                                        <li data-value="Москва" class="selected">Москва</li>
                                        <li data-value="Питер">Питер</li>
                                        <li data-value="Чугуев">Чугуев</li>
                                        <li data-value="Лондон">Лондон</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-select-wrp form-work-input">
                        <p class="input-title">1. Выберите склад отправки</p>
                        <div class="form-select">
                            <div class="custom-select-wrapper">
                                <label for="stock1"></label>
                                <select id="stock1">
                                    <option value="Москва" selected>Москва</option>
                                    <option value="Питер">Питер</option>
                                    <option value="Чугуев">Чугуев</option>
                                    <option value="Лондон">Лондон</option>
                                </select>
                                <div class="custom-select-head"><span>Москва</span></div>
                                <div class="custom-select-list-wrapper">
                                    <ul class="custom-select-list">
                                        <li data-value="Москва" class="selected">Москва</li>
                                        <li data-value="Питер">Питер</li>
                                        <li data-value="Чугуев">Чугуев</li>
                                        <li data-value="Лондон">Лондон</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-style">
                        <p class="input-title">Ваше имя</p>
                        <input class="input-form input-valid" type="text" data-input="name" name="name">
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                    <div class="form-select-wrp form-work-input">
                        <p class="input-title">1. Выберите склад отправки</p>
                        <div class="form-select">
                            <div class="custom-select-wrapper">
                                <label for="stock2"></label>
                                <select id="stock2">
                                    <option value="Москва" selected>Москва</option>
                                    <option value="Питер">Питер</option>
                                    <option value="Чугуев">Чугуев</option>
                                    <option value="Лондон">Лондон</option>
                                </select>
                                <div class="custom-select-head"><span>Москва</span></div>
                                <div class="custom-select-list-wrapper">
                                    <ul class="custom-select-list">
                                        <li data-value="Москва" class="selected">Москва</li>
                                        <li data-value="Питер">Питер</li>
                                        <li data-value="Чугуев">Чугуев</li>
                                        <li data-value="Лондон">Лондон</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
