<div class="team-page pt127">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg main-bg-356">
                <img src="../../build/img/team.png" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>Наша команда</h1>
                <p>C нами клиенты получают сильнейшего партнера, на которого они могут опереться. <br>Мы работаем для того, чтобы качественная рыба стала доступна всем.</p>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">Наша команда</a></li>
            </ul>
        </div>
    </div>
    <!-- ladies -->
    <section class="gramota-section lady-section">
        <div class="container">
            <div class="h2-wrp h2-slider">
                <h2>Основа команды</h2>
                <div class="slider-arrows">
                    <div class="slider-arrow prev-gramota-arrow">
                        <img src="../../build/img/prev.svg" alt="">
                    </div>
                    <div class="slider-arrow next-gramota-arrow">
                        <img src="../../build/img/next.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="slider-gramota-wrp">
                <div class="slider-gramota">
                    <div>
                        <div class="slide-lady">
                            <img src="../../build/img/lady1.png" alt="">
                            <p class="lady-name">Марина Мигулина</p>
                            <p class="lady-work">Исполнительный директор</p>
                        </div>
                    </div>
                    <div>
                        <div class="slide-lady">
                            <img src="../../build/img/lady2.png" alt="">
                            <p class="lady-name">Равина Александрова</p>
                            <p class="lady-work">Исполнительный директор</p>
                        </div>
                    </div>
                    <div>
                        <div class="slide-lady">
                            <img src="../../build/img/lady3.png" alt="">
                            <p class="lady-name">Ядвига Мишина</p>
                            <p class="lady-work">Исполнительный директор по очень важным вопросам</p>
                        </div>
                    </div>
                    <div>
                        <div class="slide-lady">
                            <img src="../../build/img/lady4.jpg" alt="">
                            <p class="lady-name">Секрета Линова</p>
                            <p class="lady-work">Исполнительный директор</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- map img  -->
    <section class="section-map">
        <div class="container">
            <h2>Сотни специалистов по всей России</h2>
            <div class="map-russia-wrp">
                <img src="../../build/img/map-ru.png" alt="">
            </div>
        </div>
    </section>
    <section class="resume-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-12">
                    <h2>Нам нужны новые таланты</h2>
                    <p>Возможно, мы ищем именно тебя!</p>
                    <form id="resumeForm" action="#">
                        <div class="row row-input">
                            <div class="col-xl-8 col-lg-7 col-md-8 col-12">
                                <div class="input-style">
                                    <p class="input-title">Ваше имя</p>
                                    <input class="input-form input-valid" type="text" data-input="name" name="name">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-4 col-12">
                                <div class="input-style">
                                    <p class="input-title">Дата рождения</p>
                                    <input class="input-form input-valid" type="text" name="age">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-input">
                            <div class="col-md-6 col-12">
                                <div class="input-style">
                                    <p class="input-title">E-mail</p>
                                    <input class="input-form input-valid" type="email" data-input="email" name="mail">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="input-style">
                                    <p class="input-title">Номер телефона</p>
                                    <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                        </div>
                        <div class="input-style">
                            <p class="input-title">Должность, на которую претендуете</p>
                            <input class="input-form input-valid" type="text" name="work">
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                        <div class="file-drop-area">
                            <p class="drop-error hidden">Слишком большой файл</p>
                            <div class="drop-success">
                                <div class="remove"></div>
                                <span class="fake-btn">Прикрепить</span>
                                <div class="file-msg-wrp">
                                    <span class="file-msg">резюме</span>
                                    <p class="file-size">7 Кб</p>
                                </div>
                            </div>
                            <input class="file-input" type="file">
                        </div>
                        <div class="check-form-wrp">
                            <label class="checkbox">
                                <input class="checkbox-check" type="checkbox"/>
                                <div class="checkbox-text">Я подтверждаю своё согласие на обработку<a href="/policy"> персональных данных</a></div>
                            </label>
                        </div>
                        <input type="submit" class="form-btn btn-checkbox btn-checkbox-disabled" value="Отправить">
                    </form>
                </div>
                <div class="col-xl-6 col-lg-5 col-12">
                    <div class="resume-plashka-wrp">
                        <div class="resume-plashka">
                            <img src="../../build/img/resume.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
