<div class="documents-page pt127">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg main-bg-356">
                <img src="../../build/img/doc-bg.png" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>Документы</h1>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">Документы</a></li>
            </ul>
        </div>
    </div>
    <section class="work-doki-section">
        <div class="container">
            <ul class="partner-tab">
                <li data-advise="advise1" class="active">Физическим лицам</li>
                <li data-advise="advise2">Юридическим лицам</li>
                <li data-advise="advise3">Документы компании</li>
                <li data-advise="advise4">Тендеры</li>
            </ul>
            <div id="advise1" class="advise-body active">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Пользовательское соглашение физлицам</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Соглашение на обработку персональных данных</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Пользовательское соглашение физлицам</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Соглашение на обработку персональных данных</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise2" class="advise-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров2</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Соглашение на обработку персональных данных2</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров2</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Пользовательское соглашение физлицам2</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise3" class="advise-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров3</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Пользовательское соглашение физлицам3</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров3</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Пользовательское соглашение физлицам3</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise4" class="advise-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Правила приобретения товаров4</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <div>
                                <a href="#">Соглашение на обработку персональных данных4</a>
                                <span>PFD, 18 Мб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
