<div id="beClient" class="pop-up-general-block">
    <h2>Стать клиентом</h2>
    <form>
        <div class="radio-line">
            <div class="radio-wrp">
                <label class="radio">
                    <input type="radio" name="service" checked/>
                    <div class="radio-text">Ресторан/кафе</div>
                </label>
            </div>
            <div class="radio-wrp">
                <label class="radio">
                    <input type="radio" name="service"/>
                    <div class="radio-text">Оптовая торговля</div>
                </label>
            </div>
            <div class="radio-wrp">
                <label class="radio">
                    <input type="radio" name="service"/>
                    <div class="radio-text">Частное лицо</div>
                </label>
            </div>
        </div>
        <div class="input-style">
            <p class="input-title">Ваше имя</p>
            <input class="input-form input-valid" type="text" data-input="name" name="name">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <p class="input-title">Номер телефона</p>
            <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="check-form-wrp">
            <label class="checkbox">
                <input class="checkbox-check" type="checkbox"/>
                <div class="checkbox-text">Я подтверждаю своё согласие на обработку<a href="/policy"> персональных данных</a></div>
            </label>
        </div>
        <input type="submit" class="form-btn btn-checkbox btn-checkbox-disabled" value="Отправить">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="beConverters" class="pop-up-general-block pop-up-general">
    <h2>Получить предложение <span>для&nbsp;переработчиков рыбопродукции</span></h2>
    <form>
        <div class="input-style">
            <p class="input-title">Ваше имя</p>
            <input class="input-form input-valid" type="text" data-input="name" name="name">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <p class="input-title">Номер телефона</p>
            <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="check-form-wrp">
            <label class="checkbox">
                <input class="checkbox-check" type="checkbox"/>
                <div class="checkbox-text">Я подтверждаю своё согласие на обработку<a href="/policy"> персональных данных</a></div>
            </label>
        </div>
        <input type="submit" class="form-btn btn-checkbox btn-checkbox-disabled" value="Отправить">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="beOpt" class="pop-up-general-block pop-up-general">
    <h2>Получить предложение <span>для&nbsp;оптовых покупателей рыбопродукции</span></h2>
    <form>
        <div class="input-style">
            <p class="input-title">Ваше имя</p>
            <input class="input-form input-valid" type="text" data-input="name" name="name">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <p class="input-title">Номер телефона</p>
            <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="check-form-wrp">
            <label class="checkbox">
                <input class="checkbox-check" type="checkbox"/>
                <div class="checkbox-text">Я подтверждаю своё согласие на обработку<a href="/policy"> персональных данных</a></div>
            </label>
        </div>
        <input type="submit" class="form-btn btn-checkbox btn-checkbox-disabled" value="Отправить">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="beSupplier" class="pop-up-general-block pop-up-general">
    <h2>Стать поставщиком</h2>
    <form>
        <div class="input-style">
            <p class="input-title">Ваше имя</p>
            <input class="input-form input-valid" type="text" data-input="name" name="name">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <p class="input-title">Название организации</p>
            <input class="input-form input-valid" type="text" data-input="name" name="org">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <p class="input-title">Номер телефона</p>
            <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="check-form-wrp">
            <label class="checkbox">
                <input class="checkbox-check" type="checkbox"/>
                <div class="checkbox-text">Я подтверждаю своё согласие на обработку<a href="/policy"> персональных данных</a></div>
            </label>
        </div>
        <input type="submit" class="form-btn btn-checkbox btn-checkbox-disabled" value="Отправить">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="oneClickPopUp" class="pop-up-general-block pop-up-general">
    <h2>Заказ в 1 клик</h2>
    <form>
        <div class="input-style">
            <p class="input-title">Ваше имя</p>
            <input class="input-form input-valid" type="text" data-input="name" name="name">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <p class="input-title">Номер телефона</p>
            <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7 (">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="check-form-wrp">
            <label class="checkbox">
                <input class="checkbox-check" type="checkbox"/>
                <div class="checkbox-text">Я подтверждаю своё согласие на обработку<a href="/policy"> персональных данных</a></div>
            </label>
        </div>
        <input type="submit" class="form-btn btn-checkbox btn-checkbox-disabled" value="Заказать">
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="miniCartPopUp" class="pop-up-general-block pop-up-general-block-cart">
    <h2>Товар добавлен в корзину</h2>
    <div class="pop-up-cart-content">
        <div class="cart-main-block cartMainBlock">
            <div class="cart-main-left">
                <div class="cart-main-img">
                    <img src="../../build/img/meet1.png" alt="">
                </div>
                <p class="cart-main-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
            </div>
            <div>
                <div class="cart-price-block cartBlock">
                    <div class="cart-line-price">
                        <p class="cart-price-word">За штуку:</p>
                        <p class="cart-price-cifra cart-price-item"><span>300.15</span> ₽</p>
                    </div>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus cartMinus"><span>-</span></div>
                        <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                        <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                    </div>
                    <div class="cart-line-total">
                        <p class="cart-price-word">Итого:</p>
                        <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                    </div>
                </div>
                <div class="cart-price-block cartBlock">
                    <div class="cart-line-price">
                        <p class="cart-price-word">За коробку:</p>
                        <p class="cart-price-cifra cart-price-item"><span>3000.00</span> ₽</p>
                    </div>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus cartMinus"><span>-</span></div>
                        <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                        <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                    </div>
                    <div class="cart-line-total">
                        <p class="cart-price-word">Итого:</p>
                        <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop-up-cart-bottom">
            <a href="#" class="back-cart-wrp">
                <img src="../../build/img/arrow-right-short.svg" alt="">
                <p>Продолжить покупки</p>
            </a>
            <div class="pop-up-cart-btn-wrp">
                <div class="product-cart-btn white">Купить в 1 клик</div>
                <div class="product-cart-btn red">Оформить заказ</div>
            </div>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>

<div id="thnx" class="pop-up-general-block thnx">
    <h2>Спасибо за Вашу заявку</h2>
    <div>Наш администратор свяжется с&nbsp;Вами в&nbsp;течение 24&nbsp;часов</div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
