<div id="filterPopUp" class="filterPopUp">
    <div class="container">
        <div class="top-title-wrp">
            <h3>Фильтры</h3>
            <div class="clear-filters-btn">
                <span class="icon-close"></span>
                <p>Сбросить</p>
            </div>
        </div>
        <div id="accordionCatalogMob" class="accordion-catalog">
            <div class="card">
              <div class="card-header" id="heading1Mob">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1Mob" aria-expanded="false" aria-controls="collapse1Mob">
                    Цена за штуку
                  </button>
                </h5>
              </div>
              <div id="collapse1Mob" class="collapse" aria-labelledby="heading1Mob" data-parent="#accordionCatalogMob">
                <ul class="card-body">
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">до 300 ₽</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">301 - 1 000 ₽</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">от 1 001 ₽</div>
                        </label>
                    </li>
                </ul>
                <div class="card-inputs-wrp">
                    <p>от</p>
                    <div class="card-input">
                        <input class="input-number" type="tel" name="" value="" placeholder="0">
                    </div>
                    <p>до</p>
                    <div class="card-input">
                        <input class="input-number" type="tel" name="" value="" placeholder="1000">
                    </div>
                    <p>₽</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading2Mob">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2Mob" aria-expanded="false" aria-controls="collapse2Mob">
                    Цена за коробку
                  </button>
                </h5>
              </div>
              <div id="collapse2Mob" class="collapse" aria-labelledby="heading2Mob" data-parent="#accordionCatalogMob">
                <ul class="card-body">
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">до 300 ₽</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">301 - 1 000 ₽</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">от 1 001 ₽</div>
                        </label>
                    </li>
                </ul>
                <div class="card-inputs-wrp">
                    <p>от</p>
                    <div class="card-input">
                        <input class="input-number" type="tel" name="" value="" placeholder="0">
                    </div>
                    <p>до</p>
                    <div class="card-input">
                        <input class="input-number" type="tel" name="" value="" placeholder="1000">
                    </div>
                    <p>₽</p>
                </div>
              </div>
            </div>
          <div class="card">
            <div class="card-header" id="headingOneMob">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOneMob" aria-expanded="false" aria-controls="collapseOneMob">
                  Вид
                </button>
              </h5>
            </div>
            <div id="collapseOneMob" class="collapse" aria-labelledby="headingOneMob" data-parent="#accordionCatalogMob">
              <ul class="card-body">
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Сельдь</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Форель</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Кижуч</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Масляная</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Марлин</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Лосось (семга)</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Камбала</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Минтай</div>
                      </label>
                  </li>
                  <li>
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="checkbox-text">Кальмар</div>
                      </label>
                  </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwoMob">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoMob" aria-expanded="false" aria-controls="collapseTwoMob">
                    Тип обработки
                </button>
              </h5>
            </div>
            <div id="collapseTwoMob" class="collapse" aria-labelledby="headingTwoMob" data-parent="#accordionCatalogMob">
                <ul class="card-body">
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Вяленая</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Копченая</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Соленая</div>
                        </label>
                    </li>
                </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThreeMob">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreeMob" aria-expanded="false" aria-controls="collapseThreeMob">Разделка</button>
              </h5>
            </div>
            <div id="collapseThreeMob" class="collapse" aria-labelledby="headingThreeMob" data-parent="#accordionCatalogMob">
                <ul class="card-body">
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Филе</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Кусок/нарезка/стейки</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Тушки</div>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                          <input type="checkbox">
                          <div class="checkbox-text">Фарш</div>
                        </label>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="pop-up-filterPopUp-close-btn"></div>
</div>
