<div class="catalog1-page">
    <div class="container">
        <h1>Каталог продукции</h1>
        <div class="input-search-wrp">
            <input type="text" placeholder="Начните вводить название">
            <div class="search-btn">
                <img src="../../build/img/search.svg" alt="">
            </div>
        </div>
        <div class="row row-meet-cell">
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-1.svg" alt="">
                    <p>Собственное производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-2.svg" alt="">
                    <p>Рыба прочая производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-3.svg" alt="">
                    <p>Морепродукты производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-4.svg" alt="">
                    <p>Икра производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-5.svg" alt="">
                    <p>Мясо / птица производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-6.svg" alt="">
                    <p>Сыр / масло / майонез</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-7.svg" alt="">
                    <p>Рис/мука/лапша</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-8.svg" alt="">
                    <p>Имбирь / консервация</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-9.svg" alt="">
                    <p>Ягоды / овощи</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-10.svg" alt="">
                    <p>Водоросли</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-11.svg" alt="">
                    <p>Приправы / Пасты</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-12.svg" alt="">
                    <p>Порционная продукция</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-13.svg" alt="">
                    <p>Соусы / Уксус</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-14.svg" alt="">
                    <p>Сопутствующие товары</p>
                </a>
            </div>
        </div>
    </div>
</div>
