<div class="catalog1IM-page">
    <div class="container">
        <div class="catalog-slider-wrp">
            <div class="catalog-slider">
                <div>
                    <div class="catalog-slide">
                        <img src="../../build/img/catalog-slide.png" alt="">
                        <div class="catalog-slide-plashka">
                            <div>
                                <h2>Свежий вылов фарерского лосося</h2>
                                <p>Сегодня мы производим филе из охлаждённого Фарерского лосося. Задействованы все силы, чтобы выпуск продукции организовать в день прихода сырья. Уже завтра продукция поедет в рестораны Москвы</p>
                            </div>
                            <div class="catalog-slide-btn">Заказать</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="catalog-slide">
                        <img src="../../build/img/advise2.png" alt="">
                        <div class="catalog-slide-plashka">
                            <div>
                                <h2>Свежий вылов креветки</h2>
                                <p>Сегодня мы производим креветки. Задействованы все силы, чтобы выпуск продукции организовать в день прихода сырья. Уже завтра продукция поедет в рестораны Москвы</p>
                            </div>
                            <div class="catalog-slide-btn">Заказать</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-catalog-arrow prev-catalog-arrow" style="">
                <img src="../../build/img/prev.svg" alt="">
            </div>
            <div class="slider-catalog-arrow next-catalog-arrow" style="">
                <img src="../../build/img/next.svg" alt="">
            </div>
        </div>
        <h1>Каталог продукции</h1>
        <div class="row row-meet-cell">
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-1.svg" alt="">
                    <p>Собственное производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-2.svg" alt="">
                    <p>Рыба прочая производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-3.svg" alt="">
                    <p>Морепродукты производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-4.svg" alt="">
                    <p>Икра производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-5.svg" alt="">
                    <p>Мясо / птица производство</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-6.svg" alt="">
                    <p>Сыр / масло / майонез</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-7.svg" alt="">
                    <p>Рис/мука/лапша</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-8.svg" alt="">
                    <p>Имбирь / консервация</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-9.svg" alt="">
                    <p>Ягоды / овощи</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-10.svg" alt="">
                    <p>Водоросли</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-11.svg" alt="">
                    <p>Приправы / Пасты</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-12.svg" alt="">
                    <p>Порционная продукция</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-13.svg" alt="">
                    <p>Соусы / Уксус</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="meet-cell">
                    <img src="../../build/img/cell-14.svg" alt="">
                    <p>Сопутствующие товары</p>
                </a>
            </div>
        </div>
    </div>
</div>
