<div class="catalog2-page">
    <div class="container">
        <h1>Собственное производство</h1>
        <div class="input-search-wrp">
            <input type="text" placeholder="Начните вводить название">
            <div class="search-btn">
                <img src="../../build/img/search.svg" alt="">
            </div>
        </div>
        <div class="catalog-content">
            <div class="row">
                <div class="d-none d-md-block col-xl-3 col-lg-4 col-md-6 filter-wrp">
                    <div class="top-title-wrp">
                        <h3>Фильтры</h3>
                        <div class="clear-filters-btn">
                            <span class="icon-close"></span>
                            <p>Сбросить</p>
                        </div>
                    </div>
                    <div id="accordionCatalog" class="accordion-catalog">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Вид
                            </button>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionCatalog">
                          <ul class="card-body">
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Сельдь</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Форель</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Кижуч</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Масляная</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Марлин</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Лосось (семга)</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Камбала</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Минтай</div>
                                  </label>
                              </li>
                              <li>
                                  <label class="checkbox">
                                    <input type="checkbox">
                                    <div class="checkbox-text">Кальмар</div>
                                  </label>
                              </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Тип обработки
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCatalog">
                            <ul class="card-body">
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Вяленая</div>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Копченая</div>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Соленая</div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Разделка</button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCatalog">
                            <ul class="card-body">
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Филе</div>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Кусок/нарезка/стейки</div>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Тушки</div>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                      <input type="checkbox">
                                      <div class="checkbox-text">Фарш</div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-6 col-12">
                    <div class="filterPopUp-btn">фильтры</div>
                    <div class="flex-catalog-top-wrp">
                        <div class="flex-cat-top">
                            <p>Выбрано товаров:&nbsp;</p>
                            <p class="flex-catalog-value">68</p>
                        </div>
                        <div class="flex-cat-top">
                            <p>Сортировка:</p>
                            <div class="flex header-select header-select-catalog">
                                <div class="custom-select-wrapper">
                                    <label for="tovar"></label>
                                    <select id="tovar">
                                        <option value="по умолчанию" selected>по умолчанию</option>
                                        <option value="по цене">по цене</option>
                                        <option value="по популярности">по популярности</option>
                                        <option value="по новизне">по новизне</option>
                                    </select>
                                    <div class="custom-select-head"><span>по умолчанию</span></div>
                                    <div class="custom-select-list-wrapper">
                                        <ul class="custom-select-list">
                                            <li data-value="по умолчанию" class="selected">по умолчанию</li>
                                            <li data-value="по цене">по цене</li>
                                            <li data-value="по популярности">по популярности</li>
                                            <li data-value="по новизне">по новизне</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row catalog-row-fish">
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet1.png" alt="">
                                    <span class="meet-tag">Сельдь</span>
                                </span>
                                <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet2.png" alt="">
                                    <span class="meet-tag">Минтай</span>
                                </span>
                                <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet3.png" alt="">
                                    <span class="meet-tag">Камбала</span>
                                </span>
                                <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet2.png" alt="">
                                    <span class="meet-tag">Минтай</span>
                                </span>
                                <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet3.png" alt="">
                                    <span class="meet-tag">Камбала</span>
                                </span>
                                <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet1.png" alt="">
                                    <span class="meet-tag">Сельдь</span>
                                </span>
                                <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet1.png" alt="">
                                    <span class="meet-tag">Сельдь</span>
                                </span>
                                <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet2.png" alt="">
                                    <span class="meet-tag">Минтай</span>
                                </span>
                                <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet3.png" alt="">
                                    <span class="meet-tag">Камбала</span>
                                </span>
                                <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet2.png" alt="">
                                    <span class="meet-tag">Минтай</span>
                                </span>
                                <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet3.png" alt="">
                                    <span class="meet-tag">Камбала</span>
                                </span>
                                <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet1.png" alt="">
                                    <span class="meet-tag">Сельдь</span>
                                </span>
                                <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet3.png" alt="">
                                    <span class="meet-tag">Камбала</span>
                                </span>
                                <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet1.png" alt="">
                                    <span class="meet-tag">Сельдь</span>
                                </span>
                                <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12">
                            <a href="#" class="meet-slide meet-slide-other">
                                <span class="meet-slide-img">
                                    <img src="../../build/img/meet2.png" alt="">
                                    <span class="meet-tag">Минтай</span>
                                </span>
                                <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                            </a>
                        </div>
                    </div>
                    <div id="pagination-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
