<div class="discountPage">
    <div class="container">
        <div class="catalog-slide disc-anons">
            <img src="../../build/img/discount1.png" alt="">
            <div class="catalog-slide-plashka">
                <div>
                    <p class="sale">SALE</p>
                    <p class="discount-title">Рыбная среда <span>скидка -15%</span> </p>
                    <p>на весь ассортимент рыбной консервации и замороженной рыбы</p>
                </div>
                <p class="data-discount">до 21 мая 2021</p>
            </div>
        </div>
        <div class="row disc-row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet3.png" alt="">
                            <span class="meet-tag">Камбала</span>
                        </span>
                        <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet2.png" alt="">
                            <span class="meet-tag">Минтай</span>
                        </span>
                        <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet3.png" alt="">
                            <span class="meet-tag">Камбала</span>
                        </span>
                        <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet1.png" alt="">
                            <span class="meet-tag">Сельдь</span>
                        </span>
                        <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet3.png" alt="">
                            <span class="meet-tag">Камбала</span>
                        </span>
                        <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet2.png" alt="">
                            <span class="meet-tag">Минтай</span>
                        </span>
                        <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <a href="#" class="discount meet-slide meet-catalog-card">
                    <div>
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet3.png" alt="">
                            <span class="meet-tag">Камбала</span>
                        </span>
                        <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                    </div>
                    <span class="meet-im-bottom">
                        <div>
                            <p class="disc-new">
                                <span>300 ₽</span>
                                <span><span>200 ₽</span> /шт</span>
                            </p>
                            <p>
                                <span>1 800 ₽</span>
                                <span>/коробка</span>
                            </p>
                        </div>
                        <p class="product-cart-line">
                            <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                        </p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
