h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.125;
    color: #3F5883;
    span {
        color: #91A9CD;
    }
}
%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: #F70F00;
    padding: 0 28px;
    border-radius: 14px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background-color: darken(#F70F00, 5%);
    }
}
.input-style {
    width: 100%;
    position: relative;
    &.error {
        %input {
            border-color: red;
        }
        .input-error {
            opacity: 1;
        }
    }
}

.input-error {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: red;
    opacity: 0;
    font-size: 12px;
    line-height: 1.2;
}

.flex-vertical {
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-base {
    display: flex;
    align-items: baseline;
}
.flex-column {
    flex-direction: column;
}
.flex-align-initial {
    align-items: stretch;
}
.flex-center {
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}


.btn-checkbox-disabled {
    opacity: .5;
    pointer-events: none;
}
.checkbox {
    input {
    	position: absolute;
    	z-index: -1;
    	opacity: 0;
        &:checked {
            & + .checkbox-text::after {
                opacity: 1;
            }
        }
    }
}

.checkbox-text {
    position: relative;
	padding: 0 0 0 44px;
	cursor: pointer;
    font-size: 16px;
    &::before {
    	content: '';
    	position: absolute;
    	top: -4px;
    	left: 0;
    	width: 32px;
    	height: 32px;
        background: #F4F5F8;
        border: 1px solid #C5D3EA;
        border-radius: 8px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 8px;
        width: 16px;
        height: 14px;
        background: url('../img/check.svg') center no-repeat;
        background-size: contain;
        opacity: 0;
    }
    a {
        color: #F60F00;
        transition: .2s;
        &:hover {
            color: darken(#F60F00, 5%);
        }
    }
}
.radio {
    input {
    	position: absolute;
    	z-index: -1;
    	opacity: 0;
        &:checked {
            & + .radio-text::after {
                opacity: 1;
            }
        }
    }
}
.radio-text {
    position: relative;
	padding: 0 0 0 44px;
	cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    &::before {
    	content: '';
    	position: absolute;
    	top: 50%;
    	left: 0;
        margin-top: -16px;
    	width: 32px;
    	height: 32px;
        background: #F4F5F8;
        border: 1px solid #C5D3EA;
        border-radius: 8px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        margin-top: -7px;
        width: 16px;
        height: 14px;
        background: url('../img/check.svg') center no-repeat;
        background-size: contain;
        opacity: 0;
    }
}

@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }
}
@media (max-width: 410px) {
    h1 {
        font-size: 32px;
    }
}
