<div class="news-page">
    <div class="container">
        <ul class="breadcrumbs-fish">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="#">Новости компании</a></li>
        </ul>
        <h1>Новости компании</h1>
        <div class="main-news-plashka">
            <img src="../../build/img/slide1.png" alt="">
            <div class="main-news-plashka-info">
                <p class="main-news-mark">
                    <img src="../../build/img/news2.svg" alt="">
                    <span>Новости рыбного мира</span>
                </p>
                <p class="main-news-data">27 января 2021</p>
                <p class="main-news-title">Безусловно, глубокий уровень погружения</p>
                <p>Приятно, граждане, наблюдать, как сторонники тоталитаризма в науке, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут функционально разнесены на независимые элементы. Лишь диаграммы связей будут ограничены исключительно образом мышления.</p>
            </div>
        </div>
        <div class="news-filters-wrp">
            <div class="news-filter-block">
                <img src="../../build/img/check.svg" alt="">
                <span>Новости компании</span>
            </div>
            <div class="news-filter-block">
                <img src="../../build/img/check.svg" alt="">
                <span>новости рыбного мира</span>
            </div>
            <div class="news-filter-block">
                <img src="../../build/img/check.svg" alt="">
                <span>технологии</span>
            </div>
            <div class="news-filter-block">
                <img src="../../build/img/check.svg" alt="">
                <span>Акции</span>
            </div>
            <div class="news-filter-block">
                <img src="../../build/img/check.svg" alt="">
                <span>производство</span>
            </div>
        </div>
        <div class="row main-news-row">
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Новости компании</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Акции</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Новости компании</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Акции</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Новости компании</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Акции</span>
                        </div>
                        <p class="news-data">17 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Акции</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Новости компании</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#" class="news-slide news-slide-other">
                    <img src="../../build/img/slide1.png" alt="">
                    <div class="news-slide-other-content">
                        <div class="icon-new">
                            <img src="../../build/img/news2.svg" alt="">
                            <span>Новости компании</span>
                        </div>
                        <p class="news-data">27 января 2021</p>
                        <p class="news-title">Безусловно, глубокий уровень погружения</p>
                        <div class="news-slide-text">
                            <p>Сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="pagination-container"></div>
    </div>
</div>
