<div class="work-page pt127">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg main-bg-356">
                <img src="../../build/img/work-bg.png" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>Работа с нами</h1>
                <p>ООО «ААА» занимает лидирующие позиции по ловле и дистрибуции рыбы и&nbsp;морепродуктов в России</p>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">Работа с нами</a></li>
            </ul>
        </div>
    </div>
    <section class="country-sale">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="country-img-title">
                        <div class="country-img">
                            <div class="country-img-inner">
                                <img src="../../build/img/country1.svg" alt="">
                            </div>
                        </div>
                        <p class="country-title">Страны-поставщики</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Аргентина</p>
                        </div>
                        <div class="col-6">
                            <p>Вьетнам</p>
                        </div>
                        <div class="col-6">
                            <p>Гренландия</p>
                        </div>
                        <div class="col-6">
                            <p>Индия</p>
                        </div>
                        <div class="col-6">
                            <p>Индонезия</p>
                        </div>
                        <div class="col-6">
                            <p>Китай</p>
                        </div>
                        <div class="col-6">
                            <p>Южная Корея</p>
                        </div>
                        <div class="col-6">
                            <p>Новая Зеландия</p>
                        </div>
                        <div class="col-6">
                            <p>Беларусь</p>
                        </div>
                        <div class="col-6">
                            <p>Россия</p>
                        </div>
                        <div class="col-6">
                            <p>Таиланд</p>
                        </div>
                        <div class="col-6">
                            <p>Турция</p>
                        </div>
                        <div class="col-6">
                            <p>Уругвай</p>
                        </div>
                        <div class="col-6">
                            <p>Фарерские острова</p>
                        </div>
                        <div class="col-6">
                            <p>Финляндия</p>
                        </div>
                        <div class="col-6">
                            <p>Чили</p>
                        </div>
                        <div class="col-6">
                            <p>Эквадор</p>
                        </div>
                        <div class="col-6">
                            <p>Перу</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="country-img-title">
                        <div class="country-img">
                            <div class="country-img-inner">
                                <img src="../../build/img/country2.svg" alt="">
                            </div>
                        </div>
                        <p class="country-title">Филиалы в России</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Москва</p>
                        </div>
                        <div class="col-6">
                            <p>Санкт-Петербург</p>
                        </div>
                        <div class="col-6">
                            <p>Владивосток</p>
                        </div>
                        <div class="col-6">
                            <p>Воронеж</p>
                        </div>
                        <div class="col-6">
                            <p>Екатеринбург</p>
                        </div>
                        <div class="col-6">
                            <p>Казань</p>
                        </div>
                        <div class="col-6">
                            <p>Самара</p>
                        </div>
                        <div class="col-6">
                            <p>Краснодар</p>
                        </div>
                        <div class="col-6">
                            <p>Красноярск</p>
                        </div>
                        <div class="col-6">
                            <p>Подольск</p>
                        </div>
                        <div class="col-6">
                            <p>Сочи</p>
                        </div>
                        <div class="col-6">
                            <p>Тюмень</p>
                        </div>
                        <div class="col-6">
                            <p>Уфа</p>
                        </div>
                        <div class="col-6">
                            <p>Чишмы</p>
                        </div>
                        <div class="col-6">
                            <p>Мурманск</p>
                        </div>
                        <div class="col-6">
                            <p>Нижний Новгород</p>
                        </div>
                        <div class="col-6">
                            <p>Новосибирск</p>
                        </div>
                        <div class="col-6">
                            <p>Пермь</p>
                        </div>
                        <div class="col-6">
                            <p>Ростов-на-Дону</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="country-img-title">
                        <div class="country-img">
                            <div class="country-img-inner">
                                <img src="../../build/img/country3.svg" alt="">
                            </div>
                        </div>
                        <p class="country-title">Порты входа</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Санкт-Петербург</p>
                        </div>
                        <div class="col-6">
                            <p>Мурманск</p>
                        </div>
                        <div class="col-6">
                            <p>Архангельск</p>
                        </div>
                        <div class="col-6">
                            <p>Владивосток</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="stock-del-section">
        <div class="container">
            <h2>Доставка по сети складов</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="stock-block">
                        <img src="../../build/img/stock1.png" alt="">
                        <p class="stock-title">Сеть филиалов <span>по&nbsp;России</span></p>
                        <p>Филиальная сеть «Русской рыбной компании» включает 19 складов и 13 региональных торговых представительств по всей России</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="stock-block">
                        <img src="../../build/img/stock2.png" alt="">
                        <p class="stock-title">Логистические <span>хабы</span></p>
                        <p>В некоторых филиалах организованы региональные хабы, обеспечивающие бесперебойные поставки в близлежащие регионы</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="stock-block">
                        <img src="../../build/img/stock3.png" alt="">
                        <p class="stock-title">Современное <span>оборудование</span></p>
                        <p>На всей цепи поставок рыбы до момента доставки или отгрузки клиенту со склада хранения обеспечивается поддержание необходимой температуры хранения и перевозки, что является залогом отменного качества поставляемой рыбы</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="work-doki-section">
        <div class="container">
            <h2>Пакет документов для оформления</h2>
            <ul class="partner-tab">
                <li data-advise="advise1" class="active">Юридические лица</li>
                <li data-advise="advise2">индивидуальные предприниматели</li>
                <li data-advise="advise3">физические лица</li>
            </ul>
            <div id="advise1" class="advise-body active">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия доверенности (предъявляется оригинал для сличения с копией) (в случае подписания договора от имени контрагента лицом, не являющимся единоличным исполнительным органом);</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия свидетельства о регистрации. Если производилось изменение фирменного наименования — копию соответствующего свидетельства (листа записи);</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия актуального устава (заверенную печатью и подписью ген директора) со всеми дополнениями и изменениями, действующими на отчетную дату</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия решения (протокола) о назначении единоличного исполнительного органа;</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Выписка из ЕГРЮЛ выданную не ранее чем за месяц до момента заключения договора;</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия паспорта ген. директора (для идентификации подписи);</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Декларация УСН (при наличии)</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Подписанный акцепт</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise2" class="advise-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Выписка из ЕГРЮЛ выданную не ранее чем за месяц до момента заключения договора;</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия паспорта ген. директора (для идентификации подписи);</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Декларация УСН (при наличии)</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Подписанный акцепт</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="advise3" class="advise-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия доверенности (предъявляется оригинал для сличения с копией) (в случае подписания договора от имени контрагента лицом, не являющимся единоличным исполнительным органом);</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия свидетельства о регистрации. Если производилось изменение фирменного наименования — копию соответствующего свидетельства (листа записи);</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия актуального устава (заверенную печатью и подписью ген директора) со всеми дополнениями и изменениями, действующими на отчетную дату</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="work-doki">
                            <div class="work-doki-img">
                                <img src="../../build/img/doki.svg" alt="">
                            </div>
                            <a href="#">Копия решения (протокола) о назначении единоличного исполнительного органа;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="step-work-section">
        <div class="container">
            <h2>Шаги получения заказа</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="step-work-block">
                        <div class="step-work-inner">
                            <div>
                                <p class="step-title">1. Оформление заказа</p>
                                <p>Позвоните нашему менеджеру или закажите обратный звонок</p>
                            </div>
                            <div class="step-work-btn header-btn">Стать клиентом</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="step-work-block">
                        <div class="step-work-inner">
                            <div>
                                <p class="step-title">2. Заказ товара</p>
                                <ul>
                                    <li>В наличии на ближайшем складе</li>
                                    <li>Со склада-накопителя</li>
                                    <li>Под индивидуальный запрос</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="step-work-block">
                        <div class="step-work-inner">
                            <div>
                                <p class="step-title">3. Доставка</p>
                                <ul>
                                    <li>Самовывоз с ближайшего склада</li>
                                    <li>Доставка курьером</li>
                                </ul>
                            </div>
                            <div class="step-work-btn step-work-red-btn">рассчитать доставку</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="work-delivery-section">
        <div class="container">
            <h2>Рассчитать стоимость доставки</h2>
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-12">
                    <div class="plashka-work-delivery">
                        <form id="deliveryPay" action="#">
                            <div class="form-select-wrp form-work-input">
                                <p class="form-work-title">1. Выберите склад отправки</p>
                                <div class="form-select">
                                    <div class="custom-select-wrapper">
                                        <label for="stock"></label>
                                        <select id="stock">
                                            <option value="Москва" selected>Москва</option>
                                            <option value="Питер">Питер</option>
                                            <option value="Чугуев">Чугуев</option>
                                            <option value="Лондон">Лондон</option>
                                        </select>
                                        <div class="custom-select-head"><span>Москва</span></div>
                                        <div class="custom-select-list-wrapper">
                                            <ul class="custom-select-list">
                                                <li data-value="Москва" class="selected">Москва</li>
                                                <li data-value="Питер">Питер</li>
                                                <li data-value="Чугуев">Чугуев</li>
                                                <li data-value="Лондон">Лондон</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-select-wrp form-work-input">
                                <p class="form-work-title">2. Выберите адрес доставки</p>
                                <div class="form-select">
                                    <div class="custom-select-wrapper">
                                        <label for="delivery"></label>
                                        <select id="delivery">
                                            <option value="Москва" selected>Москва</option>
                                            <option value="Питер">Питер</option>
                                            <option value="Чугуев">Чугуев</option>
                                            <option value="Лондон">Лондон</option>
                                        </select>
                                        <div class="custom-select-head"><span>Москва</span></div>
                                        <div class="custom-select-list-wrapper">
                                            <ul class="custom-select-list">
                                                <li data-value="Москва" class="selected">Москва</li>
                                                <li data-value="Питер">Питер</li>
                                                <li data-value="Чугуев">Чугуев</li>
                                                <li data-value="Лондон">Лондон</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-style form-work-input">
                                <p class="form-work-title">3. Укажите общий вес заказа в кг</p>
                                <input class="input-form input-valid" type="text" name="weight" placeholder="5 кг">
                                <p class="input-error">Ошибка ввода</p>
                            </div>
                        </form>
                        <div class="work-count-wrp">
                            <p>Стоимость <br>доставки:</p>
                            <p>1 700 ₽</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-12">
                    <div class="plashka-priform-wrp">
                        <div class="plashka-priform">
                            <img src="../../build/img/priform.png" alt="">
                            <div class="plashka-priform-content">
                                <div class="priform-block">
                                    <p class="priform-title"><span>Температурный</span> режим</p>
                                    <div class="priform-text">
                                        <p>Обязательное условие транспортировки — неукоснительное соблюдение необходимого температурного режима.</p>
                                        <p>Мы поддерживаем необходимую температуру на всех этапах перевозки до склада отгрузки, комплектации заказа и транспортировки товара до клиента.</p>
                                    </div>
                                </div>
                                <div class="priform-block">
                                    <p class="priform-title"><span>Сопроводительные</span> документы</p>
                                    <div class="priform-text">
                                        <p>Мы оформляем полный пакет документов на любой заказ, включая ветеринарные сертификаты и бухгалтерские документы</p>
                                    </div>
                                </div>
                                <div class="priform-block">
                                    <p class="priform-title"><span>Условия</span> приема товара</p>
                                    <div class="priform-text">
                                        <p>Для оформления отгрузки покупатель должен иметь при себе либо доверенность, либо печать организации</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
