<div class="work-page pt127">
    <div class="container">
        <div class="foodServ-main">
            <div class="foodServ-main-bg main-bg-356">
                <img src="../../build/img/career.png" alt="">
            </div>
            <div class="foodServ-main-top">
                <h1>Карьера</h1>
                <p>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция.</p>
            </div>
            <ul class="breadcrumbs-fish">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="#">Карьера</a></li>
            </ul>
        </div>
    </div>
    <section class="resume-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-12">
                    <h2>Нам нужны новые таланты</h2>
                    <p>Возможно, мы ищем именно тебя!</p>
                    <form id="deliveryPay" action="#">
                        <div class="input-style">
                            <p class="input-title">3. Укажите общий вес заказа в кг</p>
                            <input class="input-form input-valid" type="text" name="weight">
                            <p class="input-error">Ошибка ввода</p>
                        </div>
                    </form>
                </div>
                <div class="col-xl-6 col-lg-5 col-12">
                    
                </div>
            </div>
        </div>
    </section>
</div>
