<section class="not-found pt64">
    <img class="ball ball1" src="../../build/img/balls1.png" alt="">
    <img class="ball ball2" src="../../build/img/balls2.png" alt="">
    <div class="container">
        <div class="row">
            <div class="offset-xl-3 offset-lg-2 offset-md-1 offset-0 col-xl-6 col-lg-8 col-md-10 col-12">
                <p class="cifra">404</p>
            </div>
        </div>
        <div class="row">
            <div class=" offset-lg-2 offset-md-1 offset-0 col-lg-8 col-md-10 col-12">
                <p>К сожалению, запрашиваемая вами страница не&nbsp;найдена...</p>
                <p>Попробуйте воспользоваться меню
                или <a href="/">перейти на главную</a></p>
            </div>
        </div>
    </div>
</section>
