<header>
    <div class="container">
        <div class="header-top">
            <div class="header-left">
                <div class="burger">
                    <span></span>
                </div>
                <a class="logo-img" href="/">
                    <img src="../../build/img/logo.svg" alt="">
                </a>
                <div class="header-phone-block">
                    <div class="header-phone-block-top">
                        <a href="tel:+7 (987) 123-45-67" class="header-phone">
                            <img src="../../build/img/phone.svg" alt="">
                            <span>+7 (987) 123-45-67</span>
                        </a>
                        <div class="header-phone-arrow">
                            <img src="../../build/img/arrow-down.svg" alt="">
                        </div>
                    </div>
                    <div class="header-phone-block-bottom">
                        <p>Или мы вам перезвоним</p>
                        <form action="#">
                            <div class="input-style">
                                <input class="header-input input-valid" type="tel" data-input="phone" name="phone" placeholder="+7 (">
                                <p class="input-error">Ошибка ввода</p>
                            </div>
                            <input class="header-phone-btn" type="submit" name="" value="Перезвонить">
                        </form>
                        <a href="https://msng.link/o/?79871234567=wa" class="header-callback-btn">
                            <img src="../../build/img/whatsapp.svg" alt="">
                            <span>Написать нам</span>
                        </a>
                    </div>
                </div>
                <a href="#" class="header-map-link header-map-link-desctop">
                    <img src="../../build/img/map-icon.svg" alt="">
                    <span>Москва</span>
                </a>
                <a href="#" class="header-shop-link header-map-link-desctop">
                    <img src="../../build/img/shop.svg" alt="">
                    <span>Розничный магазин</span>
                </a>
                <a href="#" class="header-shop-link header-map-link-desctop">
                    <img src="../../build/img/acc.svg" alt="">
                    <span>Личный кабинет</span>
                </a>
            </div>
            <div class="header-right">
                <ul class="lang-list header-map-link-desctop">
                    <li class="active"><span>Ru</span></li>
                    <li><span>En</span></li>
                </ul>
                <div class="header-btn">Стать клиентом</div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="header-list header-map-link-desctop">
            <li class="active">
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">Продукция</a>
            </li>
            <li>
                <a href="#">О компании</a>
            </li>
            <li>
                <a href="#">Карьера</a>
            </li>
            <li>
                <a href="#">Команда</a>
            </li>
            <li>
                <a href="#">Работа с нами</a>
            </li>
            <li>
                <a href="#">Новости</a>
            </li>
            <li>
                <a href="#">Партнерам</a>
            </li>
            <li>
                <a href="#">Документы</a>
            </li>
            <li>
                <a href="#">Контакты</a>
            </li>
        </ul>
    </div>
</header>
