<div class="contacts-page">
    <div class="container">
        <ul class="breadcrumbs-fish">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <h1>Более 18 филиалов</h1>
        <div class="row">
            <div class="col-lg-7 col-md-8 col-12">
                <p>Если не нашли свой город в списке, свяжитесь с нами по телефону, указанному в шапке сайта. Наш менеджер с радостью ответит на все интересующие вас вопросы</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-md-6 col-12">
                <div class="contacts-info-map">
                    <div class="form-select">
                        <div id="cityList" class="custom-select-wrapper">
                            <label for="city"></label>
                            <select id="city" class="select-chose">
                                <option value="Москва" selected>Москва</option>
                                <option value="Питер">Питер</option>
                                <option value="Чугуев">Чугуев</option>
                                <option value="Лондон">Лондон</option>
                            </select>
                            <div class="custom-select-head"><span>Москва</span></div>
                            <div class="custom-select-list-wrapper">
                                <ul class="custom-select-list">
                                    <li data-value="Москва" class="selected">Москва</li>
                                    <li data-value="Питер">Питер</li>
                                    <li data-value="Чугуев">Чугуев</li>
                                    <li data-value="Лондон">Лондон</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="plashka-city-content active">
                        <div class="contacts-content">
                            <p class="contacts-prop">Адрес отделения</p>
                            <p class="contacts-val">Москва, Московский пр-т, д. 1/1</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 222-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:2mail@mail.ru" class="contacts-val">2mail@mail.ru</a>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Режим работы</p>
                            <div class="contacts-val">
                                <p>По будним дням с 10:00 до 19:00</p>
                                <p>Выходные с 11:00 до 18:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="plashka-city-content">
                        <div class="contacts-content">
                            <p class="contacts-prop">Адрес отделения</p>
                            <p class="contacts-val">Санкт-Петербург, Московский пр-т, д. 1/1</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 123-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:mail@mail.ru" class="contacts-val">mail@mail.ru</a>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Режим работы</p>
                            <div class="contacts-val">
                                <p>По будним дням с 10:00 до 19:00</p>
                                <p>Выходные с 11:00 до 18:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="plashka-city-content">
                        <div class="contacts-content">
                            <p class="contacts-prop">Адрес отделения</p>
                            <p class="contacts-val">Чугуев, Московский пр-т, д. 1/1</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 333-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:3mail@mail.ru" class="contacts-val">3mail@mail.ru</a>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Режим работы</p>
                            <div class="contacts-val">
                                <p>По будним дням с 10:00 до 19:00</p>
                                <p>Выходные с 11:00 до 18:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="plashka-city-content">
                        <div class="contacts-content">
                            <p class="contacts-prop">Адрес отделения</p>
                            <p class="contacts-val">Лондон, Московский пр-т, д. 1/1</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 555-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:4mail@mail.ru" class="contacts-val">4mail@mail.ru</a>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Режим работы</p>
                            <div class="contacts-val">
                                <p>По будним дням с 10:00 до 19:00</p>
                                <p>Выходные с 11:00 до 18:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-md-6 col-12">
                <div class="map-contacts-wrp">
                    <div id="map" class="map-contacts"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="manager-section">
        <div class="container">
            <h2>Менеджер в Вашем городе</h2>
            <div class="row">
                <div class="col-lg-7 col-md-8 col-12">
                    <p>Если не нашли свой город в списке, свяжитесь с нами по телефону, указанному в шапке сайта. Наш менеджер с радостью ответит на все интересующие вас вопросы</p>
                </div>
            </div>
            <div class="plashka-manager">
                <img class="active" src="../../build/img/lady1.png" alt="">
                <img class="" src="../../build/img/lady2.png" alt="">
                <img class="" src="../../build/img/lady3.png" alt="">
                <img class="" src="../../build/img/lady4.jpg" alt="">
                <div class="plashka-manager-content-wrp">
                    <div id="managerList" class="form-select">
                        <div class="custom-select-wrapper">
                            <label for="manager"></label>
                            <select id="manager" class="select-chose">
                                <option value="Москва" selected>Москва</option>
                                <option value="Питер">Питер</option>
                                <option value="Чугуев">Чугуев</option>
                                <option value="Лондон">Лондон</option>
                            </select>
                            <div class="custom-select-head"><span>Москва</span></div>
                            <div class="custom-select-list-wrapper">
                                <ul class="custom-select-list">
                                    <li data-value="Москва" class="selected">Москва</li>
                                    <li data-value="Питер">Питер</li>
                                    <li data-value="Чугуев">Чугуев</li>
                                    <li data-value="Лондон">Лондон</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="plashka-manager-content active">
                        <div class="contacts-content">
                            <p class="contacts-prop">Менеджер в городе Москва</p>
                            <p class="contacts-val">Марина Мигулина</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Контактный телефон</p>
                            <p class="contacts-val">+7 (987) 555-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:4mail@mail.ru" class="contacts-val">4mail@mail.ru</a>
                        </div>
                    </div>
                    <div class="plashka-manager-content">
                        <div class="contacts-content">
                            <p class="contacts-prop">Менеджер в городе Санкт-Петербург</p>
                            <p class="contacts-val">Равина Александрова</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 555-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:4mail@mail.ru" class="contacts-val">4mail@mail.ru</a>
                        </div>
                    </div>
                    <div class="plashka-manager-content">
                        <div class="contacts-content">
                            <p class="contacts-prop">Менеджер в городе Чугуев</p>
                            <p class="contacts-val">Ядвига Мишина</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 555-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:4mail@mail.ru" class="contacts-val">4mail@mail.ru</a>
                        </div>
                    </div>
                    <div class="plashka-manager-content">
                        <div class="contacts-content">
                            <p class="contacts-prop">Менеджер в городе Лондон</p>
                            <p class="contacts-val">Секрета Линова</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Телефон</p>
                            <p class="contacts-val">+7 (987) 555-45-67</p>
                        </div>
                        <div class="contacts-content">
                            <p class="contacts-prop">Электронная почта</p>
                            <a href="mailto:4mail@mail.ru" class="contacts-val">4mail@mail.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
