<div class="product-page">
    <div class="container">
        <ul class="breadcrumbs-fish">
            <li class="active"><a href="/">Каталог</a></li>
            <li><a href="#">Белая рыба</a></li>
            <li><a href="#">Сельдь</a></li>
            <li><a href="#">Отели, рестораны и кафе</a></li>
        </ul>
        <div class="product-content">
            <div class="product-slider-wrp">
                <div class="product-img-main">
                    <div>
                        <a data-fancybox="gallery" href="../../build/img/meet1.png" class="product-img-main-wrp">
                            <img src="../../build/img/meet1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="../../build/img/meet2.png" class="product-img-main-wrp">
                            <img src="../../build/img/meet2.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="../../build/img/meet3.png" class="product-img-main-wrp">
                            <img src="../../build/img/meet3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="slider-prev-wrp">
                    <div class="product-img-prev">
                        <div class="product-img-prev-wrp">
                            <img src="../../build/img/meet1.png" alt="">
                        </div>
                        <div class="product-img-prev-wrp">
                            <img src="../../build/img/meet2.png" alt="">
                        </div>
                        <div class="product-img-prev-wrp">
                            <img src="../../build/img/meet3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info-wrp">
                <p class="product-article">Артикул: 2487</p>
                <p class="product-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                <p class="product-instock"><span>В наличии</span></p>
                <div class="cartMainBlock">
                    <div class="cart-price-block cartBlock">
                        <div>
                            <p class="cart-price-word">За штуку:</p>
                            <p class="cart-price-cifra cart-price-item"><span>300.15</span> ₽</p>
                        </div>
                        <div class="quantity quantity-cart">
                            <div class="quantity-btn minus cartMinus"><span>-</span></div>
                            <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                            <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                        </div>
                        <div>
                            <p class="cart-price-word">Итого:</p>
                            <p class="cart-price-cifra cart-price-total"><span>300.15</span> ₽</p>
                        </div>
                    </div>
                    <div class="cart-price-block cartBlock">
                        <div>
                            <p class="cart-price-word">За коробку:</p>
                            <p class="cart-price-cifra cart-price-item"><span>210.20</span> ₽</p>
                        </div>
                        <div class="quantity quantity-cart">
                            <div class="quantity-btn minus cartMinus"><span>-</span></div>
                            <input type="text" placeholder="1" value="1" class="input-number quantity-cart-input">
                            <div class="quantity-btn plus cartPlus"><span>+</span> </div>
                        </div>
                        <div>
                            <p class="cart-price-word">Итого:</p>
                            <p class="cart-price-cifra cart-price-total"><span>210.20</span> ₽</p>
                        </div>
                    </div>
                    <div class="total-block">
                        <p class="cart-price-word">Вы выбрали <br>на сумму:</p>
                        <p class="total-summa-style total-summa"><span>4500</span> ₽</p>
                    </div>
                </div>
                <div class="product-cart-btn-wrp">
                    <div class="product-cart-btn white">Купить в 1 клик</div>
                    <div class="product-cart-btn red">добавить в корзину</div>
                </div>
                <div id="accordionProduct" class="accordion-product">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Основная информация
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionProduct">
                        <ul class="card-body">
                            <li>
                                <p class="property">
                                    <span>Вид</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Белая рыба</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Тип обработки</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Соленая</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Разделка</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Тушки</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Срок годности</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Февраль 2021</p>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            КБЖУ
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProduct">
                        <ul class="card-body">
                            <li>
                                <p class="property">
                                    <span>Вид</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Белая рыба</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Тип обработки</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Соленая</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Разделка</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Тушки</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Срок годности</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Февраль 2021</p>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Остальная информация</button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionProduct">
                        <ul class="card-body">
                            <li>
                                <p class="property">
                                    <span>Вид</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Белая рыба</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Тип обработки</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Соленая</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Разделка</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Тушки</p>
                            </li>
                            <li>
                                <p class="property">
                                    <span>Срок годности</span>
                                    <span class="dots"></span>
                                </p>
                                <p class="value">Февраль 2021</p>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="other-products">
            <h2>Вас может заинтересовать</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <span class="meet-slide-img">
                            <img src="../../build/img/meet3.png" alt="">
                            <span class="meet-tag">Камбала</span>
                        </span>
                        <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                        <span class="product-price-cart-line">
                            <p class="product-price-line">от 300 ₽</p>
                            <p class="product-cart-line">
                                <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                            </p>
                        </span>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet1.png" alt="">
                                <span class="meet-tag">Сельдь</span>
                            </span>
                            <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                        </div>
                        <span class="product-price-cart-line">
                            <p class="product-price-line">от 300 ₽</p>
                            <p class="product-cart-line">
                                <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                            </p>
                        </span>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet3.png" alt="">
                                <span class="meet-tag">Камбала</span>
                            </span>
                            <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                        </div>
                        <span class="product-price-cart-line">
                            <p class="product-price-line">от 300 ₽</p>
                            <p class="product-cart-line">
                                <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                            </p>
                        </span>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet2.png" alt="">
                                <span class="meet-tag">Минтай</span>
                            </span>
                            <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                        </div>
                        <span class="product-price-cart-line">
                            <p class="product-price-line">от 300 ₽</p>
                            <p class="product-cart-line">
                                <img src="../../build/img/eva_shopping-cart-outline.svg" alt="">
                            </p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
