<div class="product-page">
    <div class="container">
        <ul class="breadcrumbs-fish">
            <li class="active"><a href="/">Каталог</a></li>
            <li><a href="#">Белая рыба</a></li>
            <li><a href="#">Сельдь</a></li>
            <li><a href="#">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</a></li>
        </ul>
        <div class="product-content">
            <div class="product-slider-wrp">
                <div class="product-img-main">
                    <div>
                        <a data-fancybox="gallery" href="../../build/img/meet1.png" class="product-img-main-wrp">
                            <img src="../../build/img/meet1.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="../../build/img/meet2.png" class="product-img-main-wrp">
                            <img src="../../build/img/meet2.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="../../build/img/meet3.png" class="product-img-main-wrp">
                            <img src="../../build/img/meet3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="slider-prev-wrp">
                    <div class="product-img-prev">
                        <div class="product-img-prev-wrp">
                            <img src="../../build/img/meet1.png" alt="">
                        </div>
                        <div class="product-img-prev-wrp">
                            <img src="../../build/img/meet2.png" alt="">
                        </div>
                        <div class="product-img-prev-wrp">
                            <img src="../../build/img/meet3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info-wrp">
                <p class="product-article">Артикул: 2487</p>
                <p class="product-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                <div class="cart-btn-simple-wrp">
                    <div class="product-cart-btn red cart-btn-simple">оставить заявку на оптовую покупку</div>
                    <div class="product-cart-btn white cart-btn-simple">купить в розницу</div>
                </div>
                <div id="accordionProduct" class="accordion-product">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Основная информация
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionProduct">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <p class="property">
                                        <span>Вид</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Белая рыба</p>
                                </li>
                                <li>
                                    <p class="property">
                                        <span>Тип обработки</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Соленая</p>
                                </li>
                                <li>
                                    <p class="property">
                                        <span>Разделка</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Тушки</p>
                                </li>
                                <li>
                                    <p class="property">
                                        <span>Срок годности</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Февраль 2021</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            КБЖУ
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProduct">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <p class="property">
                                        <span>Вид</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Белая рыба</p>
                                </li>
                                <li>
                                    <p class="property">
                                        <span>Тип обработки</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Соленая</p>
                                </li>
                                <li>
                                    <p class="property">
                                        <span>Разделка</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Тушки</p>
                                </li>
                                <li>
                                    <p class="property">
                                        <span>Срок годности</span>
                                        <span class="dots"></span>
                                    </p>
                                    <p class="value">Февраль 2021</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Остальная информация</button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionProduct">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi asperiores quo, molestiae!</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="other-products">
            <h2>Вас может заинтересовать</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet3.png" alt="">
                                <span class="meet-tag">Камбала</span>
                            </span>
                            <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet1.png" alt="">
                                <span class="meet-tag">Сельдь</span>
                            </span>
                            <p class="meet-title">Сельдь 300+ атлантическая, 1/30 октябрь 2020 весовая</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet3.png" alt="">
                                <span class="meet-tag">Камбала</span>
                            </span>
                            <p class="meet-title">Камбала ж/п н/р 1/22 м</p>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <a href="#" class="meet-slide meet-slide-other meet-product-card">
                        <div>
                            <span class="meet-slide-img">
                                <img src="../../build/img/meet2.png" alt="">
                                <span class="meet-tag">Минтай</span>
                            </span>
                            <p class="meet-title">Минтай с/м, б/г 1/24 25+</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
